{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>NAV | Nosotros</title>
        <link href="{% static 'about_styles.css' %}" rel="stylesheet">
    </head>

    <body>
        <!--navbar-->
        <nav class="navbar" id="navbar">
            <div class="logo">
                <a class="image-link" href="{% url 'index' %}">
                    <img class="logo-img" src="{% static 'img/nav_logo_horizontal_small_orange.png' %}" alt="Logo">
                </a>
            </div>
            <ul class="nav-links">
                <li><a class="nav-item" href="{% url 'about' %}">Nosotros</a></li>
                <li><a class="nav-item" href="{% url 'courses' %}">Cursos</a></li>
                <li><a class="nav-item" href="#simuladores">Simuladores</a></li>
                <li><a class="nav-item" href="#cpa">CPA</a></li>
                <li><a class="nav-item" href="#login">Log in</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
        <!--main webpage content-->
        <div class="content-section" id="section-1">
            <h3 class="top-header">Un nuevo concepto en <span class="top-header" id="aviation">aviación</span></h3>
        </div>
        <div class="slider-divisor"></div>
        <div class="content-section" id="section-2">
            <div class="about-content" id="about-1">
                <div class="about-title">
                    <h3 class="about-header">Misión</h3>
                </div>
                <div class="about-text">
                    <p class="about-p">Formar pilotos <span style="color: rgb(232, 71, 40)">integrales</span> para la aviación moderna.</p>
                </div>
            </div>
            <div class="about-content" id="about-2">
                <div class="about-title">
                    <h3 class="about-header">Visión</h3>
                </div>
                <div class="about-text">
                    <p class="about-p">Definir un nuevo <span style="color: rgb(232, 71, 40)">estándar</span> para la formación de aviadores venezolanos.</p>
                </div>
            </div>
            <div class="about-content" id="about-3">
                <div class="about-title">
                    <h3 class="about-header">Valores</h3>
                </div>
                <div class="about-text">
                    <p class="about-p">Seguridad <span style="color: rgb(232, 71, 40)">operacional</span>, 
                        integridad <span style="color: rgb(232, 71, 40)">profesional</span> 
                        y mejora <span style="color: rgb(232, 71, 40)">continua</span>.</p>
                </div>
            </div>
        </div>
        <div class="slider-divisor"></div>
        <div class="content-section" id="section-2"></div>
        <script src="{% static 'dynamics.js' %}"></script>
        <!--footer-->
        <footer>
            <div class="footer-container">
                <div class="footer-section">
                    <p>&copy; 2024 NAV Aviation Academy</p>
                </div>
                <div class="footer-section">
                    <p><a href="#">Políticas de Privacidad</a></p>
                </div>
                <div class="footer-section">
                    <p><a href="mailto:luisrnandezc@gmail.com">Contacto</a></p>
                </div>
            </div>
        </footer>
    </body>
</html>