{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>NAV | Nosotros</title>
        <link href="{% static 'about_styles.css' %}" rel="stylesheet">
    </head>

    <body>
        <div class="main-container">
            <!--Navigation bar-->
            <nav class="navbar" id="navbar">
                <div class="logo">
                    <a class="image-link" href="{% url 'index' %}">
                        <img class="logo-img" src="{% static 'img/nav_logo_horizontal_small_orange.png' %}" alt="Logo">
                    </a>
                </div>
                <ul class="nav-links">
                    <li><a class="nav-item" href="{% url 'about' %}">Nosotros</a></li>
                    <li><a class="nav-item" href="{% url 'courses' %}">Cursos</a></li>
                    <li><a class="nav-item" href="#simuladores">Simuladores</a></li>
                    <li><a class="nav-item" href="#cpa">CPA</a></li>
                    <li><a class="nav-item" href="#login">Log in</a></li>
                </ul>
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </nav>
            <!--Main content-->
            <div class="about-background">
                <div class="about-content" id="about-1">
                    <h3 class="about-header">Visión</h3>
                    <p class="about-text">Aviadores modernos para la aviación moderna.</p>
                </div>
                <div class="slider-divisor"></div>
                <div class="about-content" id="about-2">
                    <h3 class="about-header">Filosofía</h3>
                    <p class="about-text">La seguridad operacional como valor fundamental.</p>
                </div>
                <div class="slider-divisor"></div>
                <div class="about-content" id="about-3">
                    <h3 class="about-header">Enseñanza</h3>
                    <p class="about-text">Elevar el nivel de exigencia por encima del promedio.</p>
                </div>
            </div>
        </div>
    </body>
</html>