{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>NAV | Cursos</title>
        <link href="{% static 'courses_styles.css' %}" rel="stylesheet">
    </head>

    <body>
        <div class="main-container">
            <!--navbar-->
            <nav class="navbar" id="navbar">
                <div class="logo">
                    <a class="image-link" href="{% url 'index' %}">
                        <img class="logo-img" src="{% static 'img/nav_logo_horizontal_small_orange.png' %}" alt="Logo">
                    </a>
                </div>
                <ul class="nav-links">
                    <li><a class="nav-item" href="{% url 'about' %}">Nosotros</a></li>
                    <li><a class="nav-item" href="{% url 'courses' %}">Cursos</a></li>
                    <li><a class="nav-item" href="#simuladores">Simuladores</a></li>
                    <li><a class="nav-item" href="#cpa">CPA</a></li>
                    <li><a class="nav-item" href="#login">Log in</a></li>
                </ul>
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </nav>
            <!--main webpage content-->
            <div class="content-section" id="section-1">
                <h3 id="top-header">Tu futuro en la aviación empieza <span class="header-description" style="color: #F2CB91">aquí</span></h3>
            </div>
            <div class="slider-divisor"></div>
            <div class="content-section" id="section-2">
                <div class="course-slide" id="pp-slide">
                    <div class="course-img-box">
                        <img class="course-img slide-left" src="{% static 'img/archer.jpg' %}" alt="Piper Archer">
                    </div>
                    <div class="course-info slide-right">
                        <h1 class="course-title">Piloto privado (PP)</h1>
                        <p class="course-description">
                            Vuela por <span class="course-description course-description-word">placer</span> y 
                            disfruta de la aviación <span class="course-description course-description-word">recreativa</span>.
                            <ul class="course-bullets">
                                <li class="course-bullet">13 materias</li>
                                <li class="course-bullet">300 horas académicas</li>
                                <li class="course-bullet">X horas de simulador</li>
                                <li class="course-bullet">40 horas de vuelo</li>
                            </ul>
                        </p>
                        <button class="course-button">Más información</button>
                    </div>
                </div>
                <div class="slider-divisor"></div>
                <div class="course-slide" id="hvi-slide">
                    <div class="course-img-box">
                        <img class="course-img slide-left" src="{% static 'img/instruments.jpg' %}" alt="Piper Archer">
                    </div>
                    <div class="course-info slide-right">
                        <h1 class="course-title">Vuelo Instrumental (HVI)</h1>
                        <p class="course-description">
                            Desbloquea nuevos <span class="course-description course-description-word">horizontes</span> y 
                            transforma tu <span class="course-description course-description-word">experiencia</span> de vuelo.
                            <ul class="course-bullets">
                                <li class="course-bullet">7 materias</li>
                                <li class="course-bullet">70 horas académicas</li>
                                <li class="course-bullet">20 horas de simulador</li>
                                <li class="course-bullet">20 horas de vuelo</li>
                            </ul>
                        </p>
                        <button class="course-button">Más información</button>
                    </div>
                </div>
                <div class="slider-divisor"></div>
                <div class="course-slide" id="pc-slide">
                    <div class="course-img-box">
                        <img class="course-img slide-left" src="{% static 'img/m2.jpg' %}" alt="Cessna Encore">
                    </div>
                    <div class="course-info slide-right">
                        <h1 class="course-title">Piloto comercial (PC)</h1>
                        <p class="course-description">
                            Transforma tu <span class="course-description course-description-word">pasión</span>
                                por volar en una carrera <span class="course-description course-description-word">profesional</span>.
                            <ul class="course-bullets">
                                <li class="course-bullet">9 materias</li>
                                <li class="course-bullet">170 horas académicas</li>
                                <li class="course-bullet">X horas de simulador</li>
                                <li class="course-bullet">X horas de vuelo</li>
                            </ul>
                        </p>
                        <button class="course-button">Más información</button>
                    </div>
                </div>
                <div class="slider-divisor"></div>
                <div class="course-slide" id="tla-slide">
                    <div class="course-img-box">
                        <img class="course-img slide-left" src="{% static 'img/airliner.jpg' %}" alt="Cessna 172 Skyhawk">
                    </div>
                    <div class="course-info slide-right">
                        <h1 class="course-title">Piloto de Línea Aérea (TLA)</h1>
                        <p class="course-description">
                            Inicia tu carrera <span class="course-description course-description-word">profesional</span> 
                            como Piloto de <span class="course-description course-description-word">Línea Aérea</span>.
                            <ul class="course-bullets">
                                <li class="course-bullet">7 materias</li>
                                <li class="course-bullet">100 horas académicas</li>
                                <li class="course-bullet">X horas de simulador</li>
                                <li class="course-bullet">X horas de vuelo</li>
                            </ul>
                        </p>
                        <button class="course-button">Más información</button>
                    </div>
                </div>
                <div class="slider-divisor"></div>
                <div class="course-slide" id="tla-slide">
                    <div class="course-img-box">
                        <img class="course-img slide-left" src="{% static 'img/airliner.jpg' %}" alt="Cessna 172 Skyhawk">
                    </div>
                    <div class="course-info slide-right">
                        <h1 class="course-title">Cursos especiales</h1>
                        <p class="course-description">
                            En NAV estamos capacitados para dictar cursos <span class="course-description course-description-word">especializados</span> 
                            y adaptados a tus <span class="course-description course-description-word">necesidades</span>.
                            <ul class="course-bullets">
                                <li class="course-bullet">PBN</li>
                                <li class="course-bullet">RVSM</li>
                                <li class="course-bullet">UPRT</li>
                                <li class="course-bullet">Habilitaciones en equipos</li>
                            </ul>
                        </p>
                        <button class="course-button">Más información</button>
                    </div>
                </div>
                <script src="{% static 'js/courses_dynamics.js' %}"></script>
                <!--footer-->
                <footer>
                    <div class="footer-container">
                        <div class="footer-section">
                            <p>&copy; 2024 NAV Aviation Academy</p>
                        </div>
                        <div class="footer-section">
                            <p><a href="#">Políticas de Privacidad</a></p>
                        </div>
                        <div class="footer-section">
                            <p><a href="mailto:luisrnandezc@gmail.com">Contacto</a></p>
                        </div>
                    </div>
                </footer>
            </div>
    </body>
</html>