{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>NAV | Cursos</title>
        <link href="{% static 'styles.css' %}" rel="stylesheet">
    </head>

    <body>
        <div class="main-container">
            <!--Navigation bar-->
            <nav class="navbar" id="navbar">
                <div class="logo">
                    <a class="image-link" href="{% url 'index' %}">
                        <img class="logo-img" src="{% static 'img/nav_logo_horizontal_small_orange.png' %}" alt="Logo">
                    </a>
                </div>
                <ul class="nav-links">
                    <li><a class="nav-item" href="#nosotros">Nosotros</a></li>
                    <li><a class="nav-item" href="{% url 'courses' %}">Cursos</a></li>
                    <li><a class="nav-item" href="#simuladores">Simuladores</a></li>
                    <li><a class="nav-item" href="#contacto">Contacto</a></li>
                    <li><a class="nav-item" href="#signup">Sign up</a></li>
                    <li><a class="nav-item" href="#login">Log in</a></li>
                </ul>
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </nav>
            <!--Main content-->
            <div class="background">
                <div class="content-section" id="section1">
                    <p>Introducción</p>
                </div>
                <div class="content-section" id="section2">
                    <div class="course-slide" id="pp-slide">
                        <div class="course-img-box">
                            <img class="course-img slide-left" src="{% static 'img/archer.jpg' %}" alt="Piper Archer">
                        </div>
                        <div class="course-info">
                            <h1 class="course-title">Piloto privado</h1>
                            <p class="course-description">
                                Este curso está diseñado para aquellos que buscan volar por placer y disfrutar
                                de la aviación recreativa. Además, es el primer paso fundamental para quienes
                                aspiran a convertirse en pilotos profesionales. Aprende los fundamentos del vuelo,
                                navegación, y seguridad aérea, y comienza tu aventura en el mundo de la aviación.
                            </p>
                            <button class="button">Más información</button>
                        </div>
                    </div>
                    <div class="course-slide" id="pc-slide">
                        <div class="course-img-box">
                            <img class="course-img slide-left" src="{% static 'img/cj1.jpg' %}" alt="Cessna CJ1">
                        </div>
                        <div class="course-info">
                            <h1 class="course-title">Piloto comercial</h1>
                            <p class="course-description">
                                Este curso está orientado a quienes desean transformar su pasión por volar en una
                                carrera profesional. Te preparará con conocimientos avanzados en técnicas de vuelo,
                                gestión de aeronaves, y normativas de aviación, llevándote un paso más cerca de convertirte
                                en un piloto comercial certificado y abrirte a un mundo de oportunidades en la industria aérea.
                            </p>
                            <button class="button">Más información</button>
                        </div>
                    </div>
                    <div class="course-slide" id="tla-slide">
                        <div class="course-img-box">
                            <img class="course-img slide-left" src="{% static 'img/airliner.jpg' %}" alt="Cessna 172 Skyhawk">
                        </div>
                        <div class="course-info">
                            <h1 class="course-title">Piloto TLA</h1>
                            <p class="course-description">
                                El curso de Piloto de Línea Aérea es el pináculo de la formación en aviación, dirigido a
                                pilotos comerciales que desean alcanzar el más alto nivel de certificación. Este programa
                                intensivo te preparará para las exigencias y responsabilidades de pilotar aeronaves de
                                transporte en rutas comerciales, con un enfoque en la gestión avanzada de vuelo, operaciones
                                complejas, y toma de decisiones en entornos críticos. Es la clave para abrir las puertas a
                                una carrera en las principales aerolíneas del mundo.
                            </p>
                            <button class="button">Más información</button>
                        </div>
                    </div>
                    <script src="{% static 'dynamics.js' %}"></script>
                </div>
                <div class="content-section" id="section3">
                    <p>Cierre</p>
                </div>
                <!--Footer-->
                <footer>
                    <div class="footer-container">
                        <div class="footer-section">
                            <p>&copy; 2024 NAV Aviation Academy</p>
                        </div>
                        <div class="footer-section">
                            <p><a href="#">Políticas de Privacidad</a></p>
                        </div>
                        <div class="footer-section">
                            <p><a href="mailto:luisrnandezc@gmail.com">Contacto</a></p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>