{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>NAV | Aviation Academy</title>
        <link href="{% static 'styles.css' %}" rel="stylesheet">
    </head>

    <body>
        <div class="main-container">
            <!--Navigation bar-->
            <nav class="navbar" id="navbar">
                <div class="logo">
                    <a class="image-link" href="{% url 'index' %}">
                        <img class="logo-img" src="{% static 'img/nav_logo_horizontal_small_orange.png' %}" alt="Logo">
                    </a>
                </div>
                <ul class="nav-links">
                    <li><a class="nav-item" href="#nosotros">Nosotros</a></li>
                    <li><a class="nav-item" href="{% url 'courses' %}">Cursos</a></li>
                    <li><a class="nav-item" href="#simuladores">Simuladores</a></li>
                    <li><a class="nav-item" href="#contacto">Contacto</a></li>
                    <li><a class="nav-item" href="#signup">Sign up</a></li>
                    <li><a class="nav-item" href="#login">Log in</a></li>
                </ul>
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </nav>
            <!--Main content-->
            <div class="slides" id="first">
                <div class="inner-bottom">
                    <h1 class="main-header"><span class="main-header" style="color: rgb(232, 71, 40);">NAV </span>Aviation Academy</h1>
                    <p class="header-description" id="first-description">Más alto, más lejos</p>
                    <button class="button">Conócenos</button>
                </div>
            </div>
            <div class="slider-divisor"></div>
            <div class="slides" id="second">
                <div class="inner-bottom">
                    <h1 class="main-header">Cursos</h1>
                    <div class="inline-buttons">
                        <button class="inline-button" id="b1">PP</button>
                        <div class="inline-separator"></div>
                        <button class="inline-button" id="b2">HVI</button>
                        <div class="inline-separator"></div>
                        <button class="inline-button" id="b3">PC</button>
                        <div class="inline-separator"></div>
                        <button class="inline-button" id="b4">TLA</button>
                    </div>
                    <button class="button">Inscríbete</button>
                </div>
            </div>
            <div class="slides" id="third">
                <div class="inner-bottom">
                    <h1 class="main-header">Simuladores</h1>
                    <div class="inline-buttons">
                        <button class="inline-button" id="b1">FSTD Nivel III</button>
                        <div class="inline-separator"></div>
                        <button class="inline-button" id="b2">737-800</button>
                    </div>
                    <button class="button">Entrena</button>
                </div>
            </div>
            <div class="slider-divisor"></div>
            <div class="slides" id="fourth">
                <div class="inner-bottom">
                    <h1 class="main-header">Cursos especiales</h1>
                    <div class="inline-buttons">
                        <button class="inline-button" id="b5">PBN</button>
                        <div class="inline-separator"></div>
                        <button class="inline-button" id="b6">RVSM</button>
                        <div class="inline-separator"></div>
                        <button class="inline-button" id="b7">UPRT</button>
                    </div>
                    <button class="button">Saber más</button>
                </div>
            </div>
            <div class="slider-divisor"></div>
            <div class="slides" id="fifth">
                <div class="inner-bottom">
                    <h1 class="main-header">PAA</h1>
                    <p class="header-description">Programa de Aptitud Aeronáutica</p>
                    <button class="button">Saber más</button>              
                </div>
            </div>
            <script src="https://static.elfsight.com/platform/platform.js" async></script>
            <div class="elfsight-app-501cdb49-7676-4e9e-a53e-b26e1f6f1dae" data-elfsight-app-lazy></div>
        </div>
        <script src="{% static 'dynamics.js' %}"></script>
        <!--Footer-->
        <footer>
            <div class="footer-container">
                <div class="footer-section">
                    <p>&copy; 2024 NAV Aviation Academy</p>
                </div>
                <div class="footer-section">
                    <p><a href="#">Políticas de Privacidad</a></p>
                </div>
                <div class="footer-section">
                    <p><a href="mailto:luisrnandezc@gmail.com">Contacto</a></p>
                </div>
            </div>
        </footer>
    </body>
</html>