{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>NAV | Aviation Academy</title>
        <link href="{% static 'styles.css' %}" rel="stylesheet">
    </head>

    <body>
        <div class="slides-container">
            <div class="slides" id="first">
                <div class="inner-bottom">
                    <h1 class="main-header">NAV Aviation Academy</h1>
                    <p class="header-description">Vuela con nosotros</p>
                    <button class="button">Contáctanos</button>
                </div>
            </div>
            <div class="slider-divisor"></div>
            <div class="flex-box-container">
                <div class="flex-box">
                    <h3 class="box-title">Instructores</h3>
                    <div class="box-text">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                        ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                        Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
                        eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
                        </p>
                        </div>
                </div>
                <div class="flex-box">
                    <h3 class="box-title">Simuladores</h3>
                    <div class="box-text">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                        ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                        Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
                        eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
                        </p>
                    </div>
                </div>
                <div class="flex-box">
                    <h3 class="box-title">Cursos</h3>
                    <div class="box-text">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                        ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                        Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
                        eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
                        </p>
                    </div>
                </div>
            </div>
            <div class="slider-divisor"></div>
            <div class="slides" id="second">
                <div class="inner-bottom">
                    <h1 class="main-header">Cursos</h1>
                    <div class="inline-buttons">
                        <button class="inline-button" id="b1">PP</button>
                        <div class="inline-separator"></div>
                        <button class="inline-button" id="b2">HVI</button>
                        <div class="inline-separator"></div>
                        <button class="inline-button" id="b3">PC</button>
                        <div class="inline-separator"></div>
                        <button class="inline-button" id="b4">TLA</button>
                    </div>
                    <button class="button">Saber más</button>
                </div>
            </div>
            <div class="slider-divisor"></div>
            <div class="slides" id="third">
                <div class="inner-bottom">
                    <h1 class="main-header">Cursos especiales</h1>
                    <div class="inline-buttons">
                        <button class="inline-button" id="b5">PBN</button>
                        <div class="inline-separator"></div>
                        <button class="inline-button" id="b6">RVSM</button>
                        <div class="inline-separator"></div>
                        <button class="inline-button" id="b7">UPRT</button>
                    </div>
                    <button class="button">Saber más</button>
                </div>
            </div>
            <div class="slider-divisor"></div>
            <div class="slides" id="fourth">
                <div class="inner-bottom">
                    <h1 class="main-header">PAA</h1>
                    <p class="header-description">Programa de Aptitud Aeronáutica</p>
                    <button class="button">Inscríbete</button>              
                </div>
            </div>
        </div>
    </body>
</html>