{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>NAV | Nosotros</title>
        <link href="{% static 'navbar.css' %}" rel="stylesheet"> 
        <link href="{% static 'about.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
        <link href="{% static 'footer.css' %}" rel="stylesheet"> 
    </head>

    <body>
        <!--navbar-->
        {% include 'navbar.html' %}
        <!--main webpage content-->
        <div class="content-section" id="section-1">
            <h1 class="header1">NAV</h1>
            <h6 class="sub-header1">Un nuevo <span class="sub-header1" id="aviation">concepto</span> en aviación</h3>
        </div>
        <div class="slider-divisor"></div>
        <div class="content-section" id="section-2">
            <div class="about-content" id="about-1">
                <div class="about-title">
                    <h3 class="about-header">Misión</h3>
                </div>
                <div class="about-text">
                    <p>Formar pilotos <span class="color-word-1">integrales</span> para la aviación moderna.</p>
                </div>
            </div>
            <div class="about-content" id="about-2">
                <div class="about-title">
                    <h3 class="about-header">Visión</h3>
                </div>
                <div class="about-text">
                    <p>Definir un nuevo <span class="color-word-1">estándar</span> para la formación de aviadores venezolanos.</p>
                </div>
            </div>
            <div class="about-content" id="about-3">
                <div class="about-title">
                    <h3 class="about-header">Valores</h3>
                </div>
                <div class="about-text">
                    <p>Seguridad <span class="color-word-1">operacional</span>,
                        integridad <span class="color-word-1">profesional</span> 
                        y mejora <span class="color-word-1">continua</span>.</p>
                </div>
            </div>
        </div>
        <div class="slider-divisor"></div>
        <div class="content-section" id="section-3">
            <p class="fadein-p" id="p1">
                NAV Aviation Academy nace con el propósito de establecer un <span class="color-word-2">estándar superior</span> para la formación
                de aviadores venezolanos, ofreciendo una preparación <span class="color-word-2">integral</span> adaptada a la industria
                aeronaútica moderna.
                Nuestro objetivo es formar pilotos <span class="color-word-2">altamente capacitados</span>, comprometidos con la
                seguridad operacional, la excelencia profesional y la mejora continua.
                Gracias al diseño e implementación de un programa de entrenamiento riguroso, estamos comprometidos a convertirnos
                en la <span class="color-word-2">referencia absoluta</span> para la formación de pilotos recreativos y comerciales en Venezuela.
            </p>
        </div>
        <div class="slider-divisor"></div>
        <div class="content-section" id="section-4">
            <!-- Swiper main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide" id="first-slide">
                        <div class="blurry-box hidden">
                            <h1 class="blurry-header">Instalaciones <span class="blurry-header color-word-1">modernas</span></h1>
                        </div>
                    </div>
                    <div class="swiper-slide" id="second-slide">
                        <div class="blurry-box">
                            <h1 class="blurry-header">Simuladores <span class="blurry-header color-word-1">avanzados</span></h1>
                        </div>
                    </div>
                    <div class="swiper-slide" id="third-slide">
                        <div class="blurry-box">
                            <h1 class="blurry-header">Instructores <span class="blurry-header color-word-1">expertos</span></h1>
                        </div>
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>    
        </div>
        <div class="slider-divisor"></div>
        <div class="content-section" id="section-5">
            <div class="fleet-box">
                <div class="model-box">3D MODEL OR IMAGE</div>
            </div>
            <div class="fleet-box">
                <ul class="performance-list">
                    <li class="list-point"><span class="color-word-3">Modelo:</span> Piper PA28-161</li>
                    <li class="list-point"><span class="color-word-3">Motor:</span> Lycoming O-320-D3G</li>
                    <li class="list-point"><span class="color-word-3">Peso vacío:</span> 1353 lb</li>
                    <li class="list-point"><span class="color-word-3">Carga útil:</span> 972 lb</li>
                    <li class="list-point"><span class="color-word-3">MTOW:</span> 2325 lb</li>
                    <li class="list-point"><span class="color-word-3">Distancia de despegue:</span> 975 ft</li>
                    <li class="list-point"><span class="color-word-3">Distancia de aterrizaje:</span> 595 ft</li>
                    <li class="list-point"><span class="color-word-3">Rata de ascenso:</span> 710 fpm</li>
                    <li class="list-point"><span class="color-word-3">Velocidad de crucero:</span> 118 kts</li>
                    <li class="list-point"><span class="color-word-3">Velocidad máxima:</span> 127 kts</li>
                    <li class="list-point"><span class="color-word-3">Rango:</span> 590 nm lb</li>
                    <li class="list-point"><span class="color-word-3">Techo de servicio:</span> 14.000 ft</li>
                </ul>
            </div>
        </div>
        <!--footer-->
        {% include 'footer.html' %}
        <!--javascript-->
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script src="{% static 'js/about_dynamics.js' %}"></script>
        <script src="{% static 'js/navbar_dynamics.js' %}"></script>
    </body>
</html>