{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>NAV | Nosotros</title>
        <link href="{% static 'navbar.css' %}" rel="stylesheet"> 
        <link href="{% static 'about.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
        <link href="{% static 'footer.css' %}" rel="stylesheet">

        <script>
            const modelPath = "{% static '3dmodel/pa28.glb' %}";
        </script> 

        <!--CDN import for the three.js library.-->
        <script type="importmap">
            {
              "imports": {
                "three": "https://cdn.jsdelivr.net/npm/three@v0.173.0/build/three.module.js",
                "three/addons/": "https://cdn.jsdelivr.net/npm/three@v0.173.0/examples/jsm/"
              }
            }
        </script>
    </head>

    <body>
        <!--navbar-->
        {% include 'website/navbar.html' %}
        <!--main webpage content-->
        <div class="content-section" id="section-1">
            <h1 class="header1">NAV</h1>
            <h6 class="sub-header">Un nuevo <span class="highlight">concepto</span> en aviación</h3>
        </div>
        <div class="slider-divisor"></div>
        <div class="content-section" id="section-2">
            <div class="about-content" id="about-1">
                <div class="about-title">
                    <h3 class="about-header">Misión</h3>
                </div>
                <div class="about-text">
                    <p>Formar pilotos <span class="highlight">integrales</span> para la aviación moderna.</p>
                </div>
            </div>
            <div class="about-content" id="about-2">
                <div class="about-title">
                    <h3 class="about-header">Visión</h3>
                </div>
                <div class="about-text">
                    <p>Definir un nuevo <span class="highlight">estándar</span> para la formación de aviadores venezolanos.</p>
                </div>
            </div>
            <div class="about-content" id="about-3">
                <div class="about-title">
                    <h3 class="about-header">Valores</h3>
                </div>
                <div class="about-text">
                    <p>Seguridad <span class="highlight">operacional</span>,
                        integridad <span class="highlight">profesional</span> 
                        y mejora <span class="highlight">continua</span>.</p>
                </div>
            </div>
        </div>
        <div class="slider-divisor"></div>
        <div class="content-section" id="section-3">
            <p class="fadein-p" id="p1">
                NAV Aviation Academy nace con el propósito de establecer un <span class="highlight">estándar superior</span> para la formación
                de aviadores venezolanos, ofreciendo una preparación <span class="highlight">integral</span> adaptada a la industria
                aeronaútica moderna.
                Nuestro objetivo es formar pilotos <span class="highlight">altamente capacitados</span>, comprometidos con la
                seguridad operacional, la excelencia profesional y la mejora continua.
                Gracias al diseño e implementación de un programa de entrenamiento riguroso, estamos comprometidos a convertirnos
                en la <span class="highlight">referencia absoluta</span> para la formación de pilotos recreativos y comerciales en Venezuela.
            </p>
        </div>
        <div class="slider-divisor"></div>
        <div class="content-section" id="section-4">
            <!-- Swiper main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide" id="first-slide">
                        <div class="blurry-box hidden">
                            <h1 class="blurry-header">Instalaciones<span class="highlight"> modernas</span></h1>
                        </div>
                    </div>
                    <div class="swiper-slide" id="second-slide">
                        <div class="blurry-box">
                            <h1 class="blurry-header">Simuladores<span class="highlight"> avanzados</span></h1>
                        </div>
                    </div>
                    <div class="swiper-slide" id="third-slide">
                        <div class="blurry-box">
                            <h1 class="blurry-header">Instructores<span class="highlight"> expertos</span></h1>
                        </div>
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>    
        </div>
        <div class="slider-divisor"></div>
        <div class="content-section" id="section-5">

            <!-- Swiper main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide" class="pa28">
                        <div id="fleet-description">
                            <h1><span class="highlight">Nuestra flota</span></h1>
                            <p class="fadein-p">En NAV Aviation Academy contamos con dos aeronaves Piper: el 
                                <span class="highlight">PA-28-161</span> y el <span class="highlight">PA-28-235</span>.
                                Reconocidos por su confiabilidad, estabilidad y características de vuelo favorables, 
                                ambos modelos son ampliamente utilizados en centros de instrucción alrededor del mundo. 
                                El Piper PA-28-161 es ideal para la formación básica, gracias a su
                                <span class="highlight">estabilidad y facilidad de operación</span>,
                                mientras que el Piper PA-28-235, con su motor más potente, ofrece una experiencia 
                                ideal para desarrollar habilidades en <span class="highlight">aeronaves de mayor rendimiento</span>.
                                En combinación, ambos equipos ofrecen un entorno seguro y versátil para cada una
                                de las etapas de formación.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide" class="pa28">
                        <div id="viewer-container-1">
                            <canvas id="3d-viewer-1"></canvas>
                        </div>
                        <div class="performance-box hidden">
                            <ul class="performance-list">
                                <li><span class="highlight">Modelo:</span> Piper PA28-161</li>
                                <li><span class="highlight">Motor:</span> Lycoming O-320-D3G</li>
                                <li><span class="highlight">Peso vacío:</span> 1353 lb</li>
                                <li><span class="highlight">Carga útil:</span> 972 lb</li>
                                <li><span class="highlight">MTOW:</span> 2325 lb</li>
                                <li><span class="highlight">Distancia de despegue:</span> 975 ft</li>
                                <li><span class="highlight">Distancia de aterrizaje:</span> 595 ft</li>
                                <li><span class="highlight">Rata de ascenso:</span> 710 fpm</li>
                                <li><span class="highlight">Velocidad de crucero:</span> 118 kts</li>
                                <li><span class="highlight">Velocidad máxima:</span> 127 kts</li>
                                <li><span class="highlight">Rango:</span> 590 nm</li>
                                <li><span class="highlight">Techo de servicio:</span> 14.000 ft</li>
                            </ul>
                        </div>
                    </div>
                    <div class="swiper-slide" class="pa28">
                        <div id="viewer-container-2">
                            <canvas id="3d-viewer-2"></canvas>
                        </div>
                        <div class="performance-box hidden">
                            <ul class="performance-list">
                                <li><span class="highlight">Modelo:</span> Piper PA28-235</li>
                                <li><span class="highlight">Motor:</span> Lycoming O-540-B4B5</li>
                                <li><span class="highlight">Peso vacío:</span> 1722 lb</li>
                                <li><span class="highlight">Carga útil:</span> 1278 lb</li>
                                <li><span class="highlight">MTOW:</span> 3000 lb</li>
                                <li><span class="highlight">Distancia de despegue:</span> 600 ft</li>
                                <li><span class="highlight">Distancia de aterrizaje:</span> 550 ft</li>
                                <li><span class="highlight">Rata de ascenso:</span> 825 fpm</li>
                                <li><span class="highlight">Velocidad de crucero:</span> 135 kts</li>
                                <li><span class="highlight">Velocidad máxima:</span> 144 kts</li>
                                <li><span class="highlight">Rango:</span> 745 nm</li>
                                <li><span class="highlight">Techo de servicio:</span> 15.500 ft</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>

        </div>
        <!--footer-->
        {% include 'website/footer.html' %}
        <!--javascript-->
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script src="{% static 'js/about_dynamics.js' %}"></script>
        <script type="module" src="{% static 'js/3dviewer.js' %}"></script>
        <script src="{% static 'js/navbar_dynamics.js' %}"></script>
    </body>
</html>