{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>NAV | Cursos</title>
        <link href="{% static 'navbar.css' %}" rel="stylesheet">
        <link href="{% static 'courses.css' %}" rel="stylesheet">
        <link href="{% static 'footer.css' %}" rel="stylesheet">
    </head>

    <body>
        <!--navbar-->
        {% include 'website/navbar.html' %}
        <!--main webpage content-->
        <header class="content-section" id="header">
            <h1 class="header-h1">Cursos</h1>
            <h2 class="header-h2">Tu futuro en la aviación empieza aquí</h2>
            <p id="header-p">
                Nuestros programas de entrenamiento están cuidadosamente diseñados para brindarte
                una formación integral y efectiva.
            </p>
            <a class="cta-button" onclick="window.open('https://wa.me/584242360119', '_blank')">Inscríbete</a>
        </header>
        <div class="slider-divisor"></div>
        <div class="course-slide" id="pp-slide">
            <div class="course-box hidden">
                <div class="info-container">
                    <h1 class="course-title">Piloto privado (PP)</h1>
                    <p class="course-description">
                        Vuela por <span class="course-description highlight">placer</span> y 
                        disfruta de la aviación <span class="course-description highlight">recreativa</span>.
                        <div class="course-bullets">
                            <div class="course-bullet">&#8226 13 materias</div>
                            <div class="course-bullet">&#8226 300 horas académicas</div>
                            <div class="course-bullet">&#8226 4 horas de simulador</div>
                            <div class="course-bullet">&#8226 40 horas de vuelo</div>
                        </div>
                    </p>
                    <button class="course-button" onclick="window.open('https://wa.me/584242360119', '_blank')">Más información</button>
                </div>
            </div>
        </div>
        <div class="slider-divisor"></div>
        <div class="course-slide" id="hvi-slide">
            <div class="course-box hidden">
                <h1 class="course-title">Vuelo Instrumental (HVI)</h1>
                <p class="course-description">
                    Desbloquea nuevos <span class="course-description highlight">horizontes</span> y 
                    transforma tu <span class="course-description highlight">experiencia</span> de vuelo.
                    <div class="course-bullets">
                        <div class="course-bullet">&#8226 7 materias</div>
                        <div class="course-bullet">&#8226 70 horas académicas</div>
                        <div class="course-bullet">&#8226 20 horas de simulador</div>
                        <div class="course-bullet">&#8226 20 horas de vuelo</div>
                    </div>
                </p>
                <button class="course-button" onclick="window.open('https://wa.me/584242360119', '_blank')">Más información</button>
            </div>
        </div>
        <div class="slider-divisor"></div>
        <div class="course-slide" id="pc-slide">
            <div class="course-box hidden">
                <h1 class="course-title">Piloto comercial (PC)</h1>
                <p class="course-description">
                    Transforma tu <span class="course-description highlight">pasión</span>
                    por volar en una carrera <span class="course-description highlight">profesional</span>.
                    <div class="course-bullets">
                        <div class="course-bullet">&#8226 9 materias</div>
                        <div class="course-bullet">&#8226 170 horas académicas</div>
                        <div class="course-bullet">&#8226 Simulador a convenir</div>
                    </div>
                </p>
                <button class="course-button" onclick="window.open('https://wa.me/584242360119', '_blank')">Más información</button>
            </div>
        </div>
        <div class="slider-divisor"></div>
        <div class="course-slide" id="tla-slide">
            <div class="course-box hidden">
                <h1 class="course-title">Piloto de Línea Aérea (TLA)</h1>
                <p class="course-description">
                    Inicia tu carrera <span class="course-description highlight">profesional</span> 
                    como Piloto de <span class="course-description highlight">Línea Aérea</span>.
                    <div class="course-bullets">
                        <div class="course-bullet">&#8226 7 materias</div>
                        <div class="course-bullet">&#8226 100 horas académicas</div>
                    </div>
                </p>
                <button class="course-button" onclick="window.open('https://wa.me/584242360119', '_blank')">Más información</button>
            </div>
        </div>
        <div class="slider-divisor"></div>
        <div class="course-slide" id="specials">
            <div class="course-box hidden">
                <h1 class="course-title">Cursos especiales</h1>
                <p class="course-description">
                    En NAV estamos capacitados para dictar cursos <span class="course-description highlight">especializados</span> 
                    y adaptados a tus <span class="course-description highlight">necesidades</span>.
                    <div class="course-bullets">
                        <div class="course-bullet">&#8226 PBN</div>
                        <div class="course-bullet">&#8226 RVSM</div>
                        <div class="course-bullet">&#8226 UPRT</div>
                        <div class="course-bullet">&#8226 Habilitaciones en equipos</div>
                    </div>
                </p>
                <button class="course-button" onclick="window.open('https://wa.me/584242360119', '_blank')">Más información</button>
            </div>
        </div>
        <div class="slider-divisor"></div>
        <div class="content-section" id="final">
            <h1 class="header-h2" id="final-h2">Inicia hoy tu camino en la aviación</h1>
            <a class="cta-button" onclick="window.open('https://wa.me/584242360119', '_blank')">Más información</a>
        </div>
        <div class="slider-divisor"></div>
        <!--footer-->
        {% include 'website/footer.html' %}
        <!--Javascript-->
        <script src="{% static 'js/courses_dynamics.js' %}"></script>
        <script src="{% static 'js/navbar_dynamics.js' %}"></script>
    </body>
</html>