{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>NAV | CPA</title>
        <link href="{% static 'navbar.css' %}" rel="stylesheet"> 
        <link href="{% static 'courses.css' %}" rel="stylesheet">
        <link href="{% static 'footer.css' %}" rel="stylesheet"> 
    </head>

    <body>
        <!--navbar-->
        {% include 'website/navbar.html' %}
        <!--main webpage content-->
        <div class="main-container">
            <div class="content-section">
                <img class="header-img" src="{% static 'img/nav_logo_horizontal_small_orange.png' %}">
                <h3 id="top-header">Tu futuro en la aviación empieza <span class="header-description highlight">aquí</span></h3>
            </div>
        </div>
        <!--footer-->
        {% include 'website/footer.html' %}
        <!--Javascript-->
        <script src="{% static 'js/navbar_dynamics.js' %}"></script>
        <script src="{% static 'js/courses_dynamics.js' %}"></script>
    </body>
</html>