{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>NAV | CPA</title>
        <link href="{% static 'navbar.css' %}" rel="stylesheet"> 
        <link href="{% static 'cpa.css' %}" rel="stylesheet">
        <link href="{% static 'footer.css' %}" rel="stylesheet"> 
    </head>

    <body>
        <!--navbar-->
        {% include 'website/navbar.html' %}
        <!--main webpage content-->
        <header>
            <h1 id="header-h1">Curso Propedéutico Aeronáutico (CPA)</h1>
            <h2 class="section-h2" id="header-h2">Preparación técnica para futuros pilotos</h2>
            <h2 class="section-h2" id="note">Actualmente nos encontramos en proceso de certificación</h2>
            <p id="header-p">Un curso integral diseñado para proporcionar a los estudiantes las herramientas
                necesarias para iniciar sus estudios de piloto con seguridad y confianza.
            </p>
            <a id="header-button" href="#enroll" class="cta-button">Inscríbete</a>
        </header>
        <div class="slider-divisor"></div>
        <section id="overview">
            <h2 class="section-h2" id="overview-h2">Contenido del curso</h2>
            <p class="section-p">
                A través de este curso propedéutico, adquirirás una sólida formación teórico-práctica 
                que te permitirá destacar durante tu entrenamiento<span class="dots">.</span>
                Nuestro objetivo es brindarte las herramientas esenciales que todo estudiante 
                necesita para completar el curso de piloto<span class="dots">.</span> Aprenderás: 
            </p>
            <div class="bullet-points-1" id="contents">
                <div class="bullet-point-1">🧠 Matemática para aviadores</div>
                <div class="bullet-point-1">✈️ Aerodinámica básica</div>
                <div class="bullet-point-1">⚙️ Sistemas y equipos de la aeronave</div>
                <div class="bullet-point-1">🗺️ Principios básicos de navegación</div>
                <div class="bullet-point-1">📚 Procedimientos operacionales de vuelo</div>
                <div class="bullet-point-1">⛅ Meteorología básica</div>
            </div>
            <a href="#enroll" class="cta-button" id="overview-button">Pensum PDF</a>
        </section>
        <div class="slider-divisor"></div>
        <section id="why-choose">
            <h2 class="section-h2" id="why-choose-h2">¿Cuáles son los beneficios de realizar este curso?</h2>
            <p class="section-p">
                Nuestro curso propedéutico está diseñado para reducir la brecha entre la 
                educación secundaria y la formación como piloto profesional, proporcionándote 
                una base sólida de conocimientos y habilidades esenciales<span class="dots">.</span> 
                A través de un enfoque integral, te prepararemos para los desafíos académicos y técnicos 
                que enfrentarás durante tu entrenamiento<span class="dots">.</span>
            </p>
            <div class="bullet-points-1" id="benefits">
                <div class="bullet-point-1">🛩️ Aprendizaje interactivo con prácticas en simuladores.</div>
                <div class="bullet-point-1">💡 Preparación emocional para un nuevo nivel educativo.</div>
                <div class="bullet-point-1">🎯 Mayor confianza para destacar durante tu formación.</div>
                <div class="bullet-point-1">👨‍✈️ Tutoría personalizada de profesionales expertos.</div>
                <div class="bullet-point-1">❓ Claridad vocacional.</div>
            </div>
        </section>
        <div class="slider-divisor"></div>
        <section id="who-for">
            <h2 class="section-h2" id="who-for-h2">¿A quién está dirigido este curso?</h2>
            <div id="targets">
                <div class="target">✅ Entusiastas de la aviación que buscan ampliar sus conocimientos.</div>
                <div class="target">✅ Aspirantes a piloto, ya sea con fines recreativos o profesionales.</div>
                <div class="target">✅ Personas interesadas en explorar si la aviación es su verdadera vocación.</div>
            </div>
        </section>
        <div class="slider-divisor"></div>
        <section id="enroll">
            <h2 class="section-h2" id="enroll-h2">Detalles del curso & como inscribirse</h2>
            <div id="details">
                <div class="detail">📅 Inicio: <span id="start-date">Sábado, 1 de marzo</span></div>
                <div class="detail">⌚ Duración: 6 días, 9:00 am - 12:30 pm (sabatino)</div>
                <div class="detail">📍 Ubicación: presencial en las instalaciones de nuestra academia</div>
                <div class="detail">📚 Incluye: material teórico, chaqueta y 2 sesionesde simulador</div>
                <div class="detail">💸 Precio: contáctanos al 0412.226.32.40</div>
            </div>
            <a href="#contact" class="cta-button" id="enroll-button" data-whatsapp="{{ staff_whatsapp }}">Reserva tu asiento</a>
        </section>
        <div class="slider-divisor"></div>
        <section id="final">
            <h2 class="section-h2" id="final-h2">¿Listo para iniciar tu aventura en la aviación?</h2>
            <a href="#enroll" class="cta-button">Inscríbete hoy</a>
        </section>
        <div class="slider-divisor"></div>
        <!--footer-->
        {% include 'website/footer.html' %}
        <!--Javascript-->
        <script src="{% static 'js/navbar_dynamics.js' %}"></script>
        <script src="{% static 'js/cpa_dynamics.js' %}"></script>
    </body>
</html>