<footer>
    <div class="footer-container">
        <div class="footer-section">
            <p class="footer-text">&copy; 2024 NAV Aviation Academy</p>
        </div>
        <div class="footer-section">
            <p class="footer-text"><a href="{% url 'privacy' %}">Políticas de Privacidad</a></p>
        </div>
        <div class="footer-section">
            <p class="footer-text"><a href="#" onclick="window.open('https://wa.me/584242360119', '_blank')">Contacto</a></p>
        </div>
    </div>
</footer>