{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>NAV | Aviation Academy</title>
        <link href="{% static 'navbar.css' %}" rel="stylesheet"> 
        <link href="{% static 'index.css' %}" rel="stylesheet">
        <link href="{% static 'footer.css' %}" rel="stylesheet">
    </head>

    <body>
        <!--navbar-->
        {% include 'website/navbar.html' %}
        <!--main webpage content-->
        <div class="slides" id="first">
            <div class="inner-bottom">
                <h1 class="main-header"><span class="main-header" style="color: rgb(232, 71, 40);">NAV </span>Aviation Academy</h1>
                <p class="header-description" id="first-description">Más alto, más lejos</p>
                <button class="button" onclick=window.location.href="{% url 'about' %}">Conócenos</button>
            </div>
        </div>
        <div class="slider-divisor"></div>
        <div class="slides" id="second">
            <div class="inner-bottom">
                <h1 class="main-header">Cursos</h1>
                <div class="inline-buttons">
                    <button class="inline-button" id="b1" onclick=window.location.href="{% url 'courses' %}#pp-slide">PP</button>
                    <div class="inline-separator"></div>
                    <button class="inline-button" id="b2" onclick=window.location.href="{% url 'courses' %}#hvi-slide">HVI</button>
                    <div class="inline-separator"></div>
                    <button class="inline-button" id="b3" onclick=window.location.href="{% url 'courses' %}#pc-slide">PC</button>
                    <div class="inline-separator"></div>
                    <button class="inline-button" id="b4" onclick=window.location.href="{% url 'courses' %}#tla-slide">TLA</button>
                </div>
                <button class="button" onclick="window.open('https://wa.me/584242360119', '_blank')">Inscríbete</button>
            </div>
        </div>
        <div class="slider-divisor" id="hidden-divisor"></div>
        <div class="slides" id="third">
            <div class="inner-bottom">
                <h1 class="main-header">Simuladores</h1>
                <div class="inline-buttons">
                    <button class="inline-button" id="b1" onclick=window.location.href="{% url 'sim' %}#sim1">FSTD Nivel III</button>
                    <div class="inline-separator"></div>
                    <button class="inline-button" id="b2" onclick=window.location.href="{% url 'sim' %}#sim2">737-800</button>
                </div>
                <button class="button" onclick=window.location.href="{% url 'sim' %}">Entrena</button>
            </div>
        </div>
        <div class="slider-divisor"></div>
        <div class="slides" id="fourth">
            <div class="inner-bottom">
                <h1 class="main-header">Cursos especiales</h1>
                <div class="inline-buttons">
                    <button class="inline-button" id="b5" onclick=window.location.href="{% url 'courses' %}#specials">PBN</button>
                    <div class="inline-separator"></div>
                    <button class="inline-button" id="b6" onclick=window.location.href="{% url 'courses' %}#specials">RVSM</button>
                    <div class="inline-separator"></div>
                    <button class="inline-button" id="b7" onclick=window.location.href="{% url 'courses' %}#specials">UPRT</button>
                </div>
                <button class="button" onclick="window.open('https://wa.me/584242360119', '_blank')">Saber más</button>
            </div>
        </div>
        <div class="slider-divisor"></div>
        <div class="slides" id="fifth">
            <div class="inner-bottom">
                <h1 class="main-header">CPA</h1>
                <p class="header-description">Curso Propedéutico Aeronáutico</p>
                <button class="button" onclick=window.location.href="{% url 'cpa' %}">Saber más</button>              
            </div>
        </div>
        <div class="slider-divisor"></div>
        <!--Footer-->
        {% include 'website/footer.html' %}
        <!--javascript-->
        <script src="{% static 'js/navbar_dynamics.js' %}"></script>
    </body>
</html>