{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>NAV | Aviation Academy</title>
        <link href="{% static 'navbar.css' %}" rel="stylesheet"> 
        <link href="{% static 'index.css' %}" rel="stylesheet">
        <link href="{% static 'footer.css' %}" rel="stylesheet">
    </head>

    <body>
        <!--navbar-->
        {% include 'navbar.html' %}
        <!--main webpage content-->
        <div class="slides" id="first">
            <div class="inner-bottom">
                <h1 class="main-header"><span class="main-header" style="color: rgb(232, 71, 40);">NAV </span>Aviation Academy</h1>
                <p class="header-description" id="first-description">Más alto, más lejos</p>
                <button class="button">Conócenos</button>
            </div>
        </div>
        <div class="slider-divisor"></div>
        <div class="slides" id="second">
            <div class="inner-bottom">
                <h1 class="main-header">Cursos</h1>
                <div class="inline-buttons">
                    <button class="inline-button" id="b1">PP</button>
                    <div class="inline-separator"></div>
                    <button class="inline-button" id="b2">HVI</button>
                    <div class="inline-separator"></div>
                    <button class="inline-button" id="b3">PC</button>
                    <div class="inline-separator"></div>
                    <button class="inline-button" id="b4">TLA</button>
                </div>
                <button class="button">Inscríbete</button>
            </div>
        </div>
        <div class="slides" id="third">
            <div class="inner-bottom">
                <h1 class="main-header">Simuladores</h1>
                <div class="inline-buttons">
                    <button class="inline-button" id="b1">FSTD Nivel III</button>
                    <div class="inline-separator"></div>
                    <button class="inline-button" id="b2">737-800</button>
                </div>
                <button class="button">Entrena</button>
            </div>
        </div>
        <div class="slider-divisor"></div>
        <div class="slides" id="fourth">
            <div class="inner-bottom">
                <h1 class="main-header">Cursos especiales</h1>
                <div class="inline-buttons">
                    <button class="inline-button" id="b5">PBN</button>
                    <div class="inline-separator"></div>
                    <button class="inline-button" id="b6">RVSM</button>
                    <div class="inline-separator"></div>
                    <button class="inline-button" id="b7">UPRT</button>
                </div>
                <button class="button">Saber más</button>
            </div>
        </div>
        <div class="slider-divisor"></div>
        <div class="slides" id="fifth">
            <div class="inner-bottom">
                <h1 class="main-header">CPA</h1>
                <p class="header-description">Curso Propedéutico Aeronáutico</p>
                <button class="button">Saber más</button>              
            </div>
        </div>
        <!--Footer-->
        {% include 'footer.html' %}
        <!--javascript-->
        <script src="{% static 'js/navbar_dynamics.js' %}"></script>
    </body>
</html>