{% load static %}
<nav class="navbar" id="navbar">
    <div class="logo">
        <a class="image-link" href="{% url 'index' %}">
            <img class="logo-img" src="{% static 'img/nav_logo_horizontal_small_orange.png' %}" alt="Logo">
        </a>
    </div>
    <ul class="nav-links">
        <li><a class="nav-item" href="{% url 'about' %}">Nosotros</a></li>
        <li><a class="nav-item" href="{% url 'courses' %}">Cursos</a></li>
        <li><a class="nav-item" href="{% url 'sims' %}">Simuladores</a></li>
        <li><a class="nav-item" href="{% url 'cpa' %}">CPA</a></li>
        <li><a class="nav-item" href="{% url 'accounts:login' %}">Log in</a></li>
    </ul>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>