{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>NAV | Política de Privacidad</title>
        <link href="{% static 'privacy.css' %}" rel="stylesheet">
        <link href="{% static 'footer.css' %}" rel="stylesheet">
    </head>

    <body>
        <!--main webpage content-->
        <header id="privacy-header">
            <h1 id="privacy-h1">Política de Privacidad</h1>
            <h2 id="privacy-h2">Última actualización: 19 de Marzo de 2025</h2>
        </header>

        <main id="privacy-main">
            <section class="privacy-section">
                <h2 class="privacy-h2">Introducción</h2>
                <p class="privacy-p">
                    En NAV Aviation Academy nos comprometemos a proteger la privacidad de nuestros 
                    usuarios. Esta política describe cómo manejamos la información en nuestro sitio web.
                </p>
            </section>

            <section class="privacy-section">
                <h2 class="privacy-h2">No recolectamos información de visitantes</h2>
                <p class="privacy-p">
                    Los visitantes que navegan por nuestro sitio web no proporcionan ni comparten
                    información personal con nosotros. No recopilamos datos de navegación, direcciones IP, 
                    cookies ni ningún otro tipo de información identificativa.
                </p>
            </section>

            <section class="privacy-section">
                <h2 class="privacy-h2">Información recopilada de usuarios registrados</h2>
                <p class="privacy-p">
                    La única información que recolectamos es la suministrada por personas que 
                    se registran como usuarios de nuestra plataforma, quienes siempre serán 
                    estudiantes o personal de la escuela.
                    </p>
            </section>

            <section class="privacy-section">
                <h2 class="privacy-h2">Registro de usuarios</h2>
                <p class="privacy-p">
                    Los visitantes del sitio no pueden registrarse por sí mismos. No existe un botón 
                    ni una opción para el registro directo. El proceso de creación de cuentas es 
                    realizado exclusivamente por el personal de la escuela a través de una plataforma interna.
                </p>
            </section>

            <section class="privacy-section">
                <h2 class="privacy-h2">Uso y protección de la información</h2>
                <p class="privacy-p">
                    Los datos proporcionados por los usuarios registrados serán utilizados únicamente 
                    para fines académicos y administrativos dentro de la escuela. No compartimos, 
                    vendemos ni cedemos esta información a terceros bajo ninguna circunstancia.
                </p>
            </section>

            <section class="privacy-section">
                <h2 class="privacy-h2">Contacto</h2>
                <p class="privacy-p">
                    Si tienes alguna duda sobre nuestra política de privacidad, puedes comunicarte con nosotros a través de
                    <a id="privacy-mail" href="mailto:navaviationacademy@gmail.com">navaviationacademy@gmail.com</a>.
                </p>
            </section>

            <a id="privacy-button" href="{% url 'index' %}">Volver al Inicio</a>
        </main>
        <!--javascript-->
        <script src="{% static 'js/navbar_dynamics.js' %}"></script>
    </body>
</html>