{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>NAV | Simuladores</title>
        <link href="{% static 'navbar.css' %}" rel="stylesheet">
        <link href="{% static 'sim.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
        <link href="{% static 'footer.css' %}" rel="stylesheet">
        <link rel="icon" href="{% static 'img/index/favicon.ico' %}">
        <link rel="icon" href="{% static 'img/index/favicon.ico' %}" sizes="any">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/index/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/index/favicon-16x16.png' %}">
        <link rel="apple-touch-icon" href="{% static 'img/index/apple-touch-icon.png' %}">
        <!--Google tag (gtag.js)-->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_ID }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '{{ GOOGLE_ANALYTICS_ID }}');
        </script>
        <!--End of Google tag (gtag.js)-->
    </head>

    <body>
        <!--navbar-->
        {% include 'website/navbar.html' %}
        <!--main webpage content-->
        <header>
            <h1 id="header-h1">Simuladores de vuelo</h1>
            <p id="header-p">
                Nuestros simuladores avanzados te permitirán desarrollar 
                habilidades de vuelo críticas en un entorno controlado.
            </p>
            <a href="#" class="cta-button" onclick="window.open('https://wa.me/584242360119', '_blank')">Agendar sesión</a>
        </header>
        <div class="slider-divisor"></div>
        <section class="simulator" id="sim1">
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide" id="sim1-first-slide">
                        <div class="info-container">
                            <h2>FSTD Nivel III</h2>
                            <p class="sim-description">
                                En nuestro simulator táctil multipropósito podrás vivir una experiencia
                                de simulación sin precedentes en el mercado venezolano.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide" id="sim1-second-slide">
                        <div class="info-container">
                            <h2>Operación de múltiples equipos y sistemas</h2>
                            <p class="sim-description">
                                Entrena con diferentes aeronaves utilizando el sistema de aviónica de tu preferencia.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide" id="sim1-third-slide">
                        <div class="info-container">
                            <h2>Modelo de vuelo realista</h2>
                            <p class="sim-description">
                                Vive una experiencia de simulación realista gracias a nuestro software de vuelo
                                de última generación con "feedback force".
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide" id="sim1-fourth-slide">
                        <div class="info-container">
                            <h2>Entrenamiento simultáneo para dos pilotos</h2>
                            <p class="sim-description">
                                Entrena procedimientos en aeronaves "multi-crew" y obtén proeficiencia en CRM.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide" id="sim1-fifth-slide">
                        <div class="info-container">
                            <h2>Visual extraordinario</h2>
                            <p class="sim-description">
                                Practica operaciones visuales realistas gracias al modelo gráfico de alta fidelidad con
                                pantallas de alta definición y 120 grados de campo de visión.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </section>
        <div class="slider-divisor"></div>
        <section class="simulator" id="sim2">
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide" id="sim2-first-slide">
                        <div class="info-container">
                            <h2>Boeing 737-800</h2>
                            <p class="sim-description">
                                Contamos con el simulador de vuelo más avanzado de toda Venezuela.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide" id="sim2-second-slide">
                        <div class="info-container">
                            <h2>Réplica exacta de la cabina real</h2>
                            <p class="sim-description">
                                Familiarízate con el funcionamiento y operación de un jet comercial moderno.   
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide" id="sim2-third-slide">
                        <div class="info-container">
                            <h2>Entrenamiento MCC</h2>
                            <p class="sim-description">
                                Practica procedimientos de tripulación múltiple en un entorno altamente realista.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide" id="sim2-fourth-slide">
                        <div class="info-container">
                            <h2>Sesiones para entusiastas</h2>
                            <p class="sim-description">
                                Lleva tu pasión por la aviación al siguiente nivel con la guía de
                                pilotos profesionales de Boeing 737 y adquiere conocimientos de primera mano.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </section>
        <div class="slider-divisor"></div>
        <section class="simulator" id="final">
            <h1 id="final-h2">Agenda tu sesión ya</h1>
            <a class="cta-button" onclick="window.open('https://wa.me/584242360119', '_blank')">Más información</a>
        </section>
        <div class="slider-divisor"></div>
        <!--footer-->
        {% include 'website/footer.html' %}
        <!--Javascript-->
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script src="{% static 'js/sim_dynamics.js' %}"></script>
        <script src="{% static 'js/navbar_dynamics.js' %}"></script>
    </body>
</html>