* {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0px;
    box-sizing: border-box;
}

@page {
    size: letter;
    margin: 1cm;
}
  
html,
body {
    width: 100%;
    max-width: 21cm;
    margin: 0px;
    padding: 10px;
    overflow-x: hidden;
}

/* Header */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.logo {
    width: 75px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

/* Data table */
.data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
    padding: 5px 0px;
    border: 1px solid #000000;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.data-cell {
    font-size: 0.7rem;
    letter-spacing: 0.05rem;
    line-height: 1.25rem;
}

#data-cell-1, #data-cell-4, #data-cell-7, #data-cell-10 {
    width: 45%;
}

#data-cell-2, #data-cell-5, #data-cell-8, #data-cell-11 {
    width: 22.5%;
}

#data-cell-3, #data-cell-6, #data-cell-9, #data-cell-12 {
    width: 32.5%;
}

#data-cell-13 {
    width: 67.5%;
}

#data-cell-14 {
    width: 32.5%;
}

/* Grades legend */
.grade-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#grade-legend {
    font-size: 0.6rem;
}

.data-box {
    font-size: 0.7rem;
    font-weight: bold;
    border: 1px solid #000000;
    padding: 5px;
    width: 20%;
    text-align: center;
    text-transform: uppercase;
}

/* Grades table */
.grades-table-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    margin: 5px 0px;
    padding: 5px 0px;
}

.grades-table-column {
    width: 100%;
}

.grades-table {
    width: 100%;
    border-collapse: collapse;
}

.grades-table-cell.table-section {
    font-weight: bold;
    background-color: #d7d7d7;
    column-span: all;
}

.grades-table-cell, .grade {
    font-size: 0.6rem;
    line-height: 0.9rem;
}

.grade {
    text-align: center;
}

.long-cell {
    text-align: center;
}

/* Footer */
.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 0 0;
    padding: 5px 0px;
    position: absolute;
    bottom: 20px;
    left: 10px;
    right: 10px;
}

.signature {
    font-size: 0.75rem;
}

/* Comments */
.page-break {
    page-break-before: always;
}

.comments-container {
    margin: 10px 0;
    padding: 10px;
}

.comments-title {
    text-decoration: underline;
    margin-bottom: 5px;
}

.comments-text {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    max-width: 100%;
}

.comments-text p {
    font-size: 0.75rem;
    line-height: 1.25rem;
    margin: 0 0 10px 0;
    text-align: justify;
}

.comments-text br {
    display: block;
    content: "";
    margin-top: 5px;
}