* {
  color: #000000;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.main-header {
  color: #dae1ff;
  font-size: 2rem;
  margin: 50px 0px 30px 0px;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.subsection-header {
  color: #dae1ff;
  margin: 40px 0px 20px 0px;
  text-decoration: underline solid 2px #e84728;
  text-underline-offset: 10px;
  align-self: center;
}

details {
  width: 100%;
  background-color: transparent;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

summary {
  color: #dae1ff;
  text-align: center;
}

.fixed-fields-container,
div.collapsible-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-top: 25px;
}

.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 40%;
}

.form-row {
  display: flex;
  flex-direction: row;
  margin: 10px 0px 10px 0px;
}

label {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 275px;
  color: #dae1ff;
  text-align: right;
  margin-right: 10px;
}

.form-field {
  width: 150px;
  display: inline-block;
}

.radio-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: bottom;
  width: 30px;
  margin: 0;
}

.radio-field div label {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 40px !important;
}

#id_description,
#id_hazard_description,
#id_hazard_causes,
#id_defenses {
  width: 750px;
}

.submit-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.submit-button {
  text-transform: uppercase;
  font-size: 1.25rem;
  width: 125px;
  height: 40px;
  border-radius: 3px;
  color: #dae1ff;
  background-color: transparent;
}

.submit-button:hover {
  background-color: rgb(232, 71, 40);
  color: #dae1ff;
  border: 0px solid #ffffff;
  border-radius: 3px;
  cursor: pointer;
}

/* Risk selection radio buttons */
.risk-options-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

#risk-selection-label {
  text-align: center;
}

#risk-selection-label > p {
  color: #dae1ff;
}

.risk-option-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  width: 750px;
}

.risk-option-card:hover {
  background: #f0f4f8;
}

.radio-wrapper {
  margin-right: 15px;
}

.description-text {
  text-align: justify;
  font-size: 0.75rem;
  line-height: 1.4;
  color: #333;
}

#risk-mitigation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mitigation-action-text > p {
  color: #dae1ff;
  font-size: 0.75rem;
}

@media (max-width: 1150px) {
  .main-header {
    font-size: 2rem;
    margin: 20px 0px 30px 0px;
  }

  .fixed-fields-container,
  div.collapsible-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .left-column,
  .right-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 650px) {
  #section-1-header {
    text-align: center;
    line-height: 2;
  }

  label {
    justify-content: center;
    text-align: center;
    margin: 0;
  }

  .form-row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .radio-field {
    align-items: center;
    justify-content: center;
  }

  #id_description,
  #id_hazard_description,
  #id_hazard_causes,
  #id_defenses {
    width: 90%;
  }

  .risk-option-card {
    width: 90%;
  }
}
