* {
  font-family: 'Renogare-Regular', 'Arial', sans-serif;
  color: #ffffff;
  font-size: 1rem;
  letter-spacing: 0px;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/login1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow-y: hidden;
}

.error-message-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 32px;
  padding-top: 24px;
}

.error-message {
  text-transform: none;
  color: #ff0000;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 56px);
  padding: 0 20px 40px 20px;
}

.form-field {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.25rem;
  background-color: transparent;
  height: 40px;
  border: 1px solid #dadada;
  border-radius: 3px;
}

.submit-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.submit-button {
  color: #dae1ff;
  text-transform: uppercase;
  font-size: 1rem;
  min-width: 200px;
  padding: 15px 25px;
  background-color: rgba(218, 225, 255, 0.2);
  border: 1px solid #dae1ff;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.submit-button:hover {
  background-color: #d63e20;
  border-color: #d63e20;
  cursor: pointer;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .form-container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-height: 500px) and (orientation: landscape) {
  .form-field {
    height: 30px;
  }

  html,
  body {
    overflow-y: auto;
  }

}

