* {
    font-family: 'Renogare-Regular', 'Arial', sans-serif;
    color: #dae1ff;
    font-size: 16px;
    box-sizing: border-box;
}
  
html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  overflow-x: auto;
}

.data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  margin: 0 15px;
  height: 100%;
  width: 50%;
}

.data-header > h1 {
  font-size: 3.0rem;
  letter-spacing: 5px;
  text-align: center;
  margin: 0;
}

.user-data {
  padding: 25px;
  margin: 25px 0;
  border: 1px solid #e84728;
  border-radius: 25px;
  width: 75%;
}

.user-data > p {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
}

.button {
  text-transform: uppercase;
  font-size: 1.0rem;
  width: 200px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #dae1ff;
  border-radius: 3px;
}

.button:hover {
  background-color: rgb(0, 0, 0, 0.25);
  border: 1px solid #dae1ff;
  border-radius: 3px;
  cursor: pointer;
}

.dashboard-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  margin: 0 15px;
  height: 100%;
  width: 50%;
}

.left-column, .right-column {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  padding: 0 10px;
}

.dashboard-square {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  padding: 0 10px;
  margin: 15px 0;
  border: 1px solid #e84728;
  border-radius: 25px;
}

#balance-amount {
  font-size: 3.0rem;
}

.logo-img {
  width: 150px;
  height: auto;
}

@media screen and (max-width: 1200px) {

  .main-container {
    flex-direction: column;
    height: auto;
    min-height: 100vh;
  }

  .data-container {
    width: 75%;
    margin: 10px 0;
  }

  .dashboard-container {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {

  .user-data > p {
    font-size: 1.0rem;
  }

  .square-header {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 650px) {

  .data-header > h1 {
    font-size: 2.0rem;
  }

  .data-container {
    width: 100%;
    margin: 10px 0;
  }

  .user-data {
    width: 100%;
  }

  .user-data > p {
    font-size: 1.25rem;
  }

  .button {
    font-size: 1.0rem;
    width: 150px;
  }

  .dashboard-square {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 500px) {

  .user-data > p {
    font-size: 1.0em;
  }

  .button {
    font-size: 0.75rem;
  }

  .dashboard-container {
    flex-direction: column;
  }

  .left-column, .right-column {
    width: 100%;
    align-items: center;
  }

  .dashboard-square {
    width: 75%;
    height: 200px;
  }
}