@font-face {
    font-family: "Renogare-Regular";
    src: local("Renogare-Regular");
    src: local("Renogare Regular");
}

* {
    font-family: "Renogare-Regular", "Arial", sans-serif;
    color: #dadada;
    font-size: 1vw;
    letter-spacing: 10px;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    background-color:#000000;
}

/* main webpage content */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.slider-divisor {
    height: 1px;
    background-color: #e84728;
}

.content-section {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    background-color: #000000;
}

#section-1 {
    background: linear-gradient(rgba(20, 31, 53, 0.9), rgba(20, 31, 53, 0.9)), url(./img/bw1.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeIn 1.0s ease-in forwards;
}

.header1 {
    font-size: 5.0rem;
    align-items: center;
    text-align: center;
    line-height: 1.0rem;
    margin-left: 75px;
    margin-right: 75px;

}

.sub-header {
    font-size: 1.0rem;
    align-items: center;
    text-align: center;
}

.about-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.about-content .about-title,
.about-content .about-text {
    position: relative;
}

.about-title {
    width: 25vw;
    margin-right: 50px;
}

.about-header {
    font-size: 3.0rem;
    width: 100%;
    text-align: right;
}

.about-text {
    width: 75vw;
    margin-left: 50px;
    margin-right: 50px;
}

.fadein-p {
    text-align: center;
    opacity: 0;
    transition: opacity 1.5s ease-in;
}

.fadein-p.show {
    visibility: visible;
    animation: fadeIn 1.5s ease-in forwards;
}

#about-1 {
    background: linear-gradient(rgba(20, 31, 53, 0.75), rgba(20, 31, 53, 0.75)), url(./img/bw7.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

#about-2 {
    background: linear-gradient(rgba(20, 31, 53, 0.75), rgba(20, 31, 53, 0.75)), url(./img/bw4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

#about-3 {
    background: linear-gradient(rgba(20, 31, 53, 0.75), rgba(20, 31, 53, 0.75)), url(./img/bw2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

#section-3 {
    background: linear-gradient(to left, rgba(20, 31, 53) 30%, rgba(20, 31, 53, 0.75)), url(./img/bw3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    justify-content: center;
    align-items: center;
}

#p1 {
    font-size: 0.85rem;
    letter-spacing: 2px;
    line-height: 4.0rem;
    width: 50vw;
    margin-left: auto;
    margin-right: 100px;
    text-align: justify;
}

#section-4 {
    z-index: 0;
}

#first-slide {
    display: flex;
    flex-direction: column;
    position: relative;
    background: linear-gradient(rgba(20, 31, 53, 0.75), rgba(20, 31, 53, 0.75)), url(./img/bw12.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

#second-slide {
    display: flex;
    flex-direction: column;
    position: relative;
    background: linear-gradient(rgba(20, 31, 53, 0.75), rgba(20, 31, 53, 0.75)), url(./img/737sim/sim10bw.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

#third-slide {
    display: flex;
    flex-direction: column;
    position: relative;
    background: linear-gradient(rgba(20, 31, 53, 0.75), rgba(20, 31, 53, 0.75)), url(./img/lecture.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.swiper {
    width: 100%;
    height: 100%; /* Adjust height as needed */
    margin: auto;
}
  
.swiper-slide {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    object-fit: cover;
    position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}

.blurry-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 35%;
    background-color: rgba(20, 31, 53, 0.5);
    backdrop-filter: blur(7.5px);
    margin-left: auto;
    margin-right: 75px;
    margin-bottom: 125px;
    margin-top: auto;
    border: solid #888888;
}

.blurry-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0px;
    letter-spacing: 7.5px;
    display: flex;
    white-space: pre;
}

.hidden {
    opacity: 0;
    transform: translateX(50px); /* Start slightly to the right */
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.show {
    opacity: 1;
    transform: translateX(0); /* Moves to the normal position */
}

#section-5 {
    z-index: 0;
    background: linear-gradient(rgba(20, 31, 53, 0.75), rgba(20, 31, 53, 0.75)), url(./img/bw10.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

#fleet-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#fleet-description h1 {
    font-size: 1.5rem;
}

#fleet-description p {
    font-size: 0.85rem;
    letter-spacing: 2px;
    line-height: 3.5rem;
    width: 50vw;
    text-align: justify;
}

.pa28 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#viewer-container-1, #viewer-container-2 {
    width: 60%;
    height: 80%;
    margin-left: 50px;
}

.performance-box {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 30%;
    height: 80%;
    margin-right: 75px;
    margin-left: auto;
    background-color: rgba(20, 31, 53, 0.75);
    backdrop-filter: blur(7.5px);
    border: solid #888888;
}

.performance-list {
    line-height: 3.0rem;
    margin: 0px;
    padding-left: 25px;
}

ul li {
    font-size: 0.85rem;
    letter-spacing: 3.0px;
}

.highlight {
    color: #e84728;
    line-height: inherit;
    font-size: inherit;  
    letter-spacing: inherit;
}

/* main webage responsive design */
@media screen and (max-width: 1200px) {

    .blurry-box {
        width: 40%;
        margin-left: auto;
        margin-right: 75px;
    }

    #viewer-container {
        width: 45%;
    }

    .performance-box {
        width: 35%;
    }
}

@media screen and (max-width: 850px) {

    .sub-header {
        letter-spacing: 5px;
        font-size: 2.0rem;
    }

    .about-title {
        margin-left: 25px;
    }

    .about-content {
        flex-direction: column;
    }

    p {
        font-size: 1.5rem;
        text-align: center;
        letter-spacing: 3.0px;
    }

    #section-3 {
        margin: 0px;
        padding: 0px;
    }

    #p1 {
        font-size: 1.5rem;
        width: 75vw;
        margin: 25px;
    }

    .blurry-box {
        width: 70%;
        margin-left: auto;
        margin-right: 75px;
    }

    .blurry-header {
        font-size: 1.75rem;
        flex-direction: row;
    }

    #fleet-description * {
        font-size: 1.25rem !important;
        width: 75vw !important;
        line-height: 7.0rem !important;
    }

    #viewer-container-1, #viewer-container-2{
        display: none;
    }

    .performance-box {
        width: 75%;
        height: 75%;
        margin: 25px;
    }

    ul li {
        font-size: 1.5rem;
        letter-spacing: 3.0px;
        line-height: 4.0rem;
    }
}

@media screen and (max-width: 700px) {

    .performance-box {
        height: 60%;
    }

    ul li {
        font-size: 1.5rem;
        letter-spacing: 3.0px;
        line-height: 5.0rem;
    }
}