@font-face {
    font-family: "Renogare-Regular";
    src: local("Renogare-Regular");
    src: local("Renogare Regular");
}

* {
    font-family: "Renogare-Regular", "Arial", sans-serif;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 10px;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}

/* main webpage content */
.content-section {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    background-color: #000000;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#section-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(./img/bw1.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeIn 1.5s ease-in forwards;
}

.header1 {
    font-size: 5.0rem;
    align-items: center;
    text-align: center;
    line-height: 1.0rem;
    margin-left: 75px;
    margin-right: 75px;

}

.sub-header1 {
    font-size: 1.0rem;
    align-items: center;
    text-align: center;
}

#aviation {
    color: #247AFD;
}

.about-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.about-content .about-title,
.about-content .about-text {
    position: relative;
}

.about-title {
    width: 25vw;
    margin-right: 50px;
}

.about-header {
    font-size: 3.0rem;
    width: 100%;
    text-align: right;
}

.about-text {
    width: 75vw;
    margin-left: 50px;
    margin-right: 50px;
}

.fadein-p {
    text-align: center;
    opacity: 0;
    transition: opacity 1.5s ease-in;
}

.fadein-p.show {
    visibility: visible;
    animation: fadeIn 1.5s ease-in forwards;
}

#about-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(./img/bw7.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

#about-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/bw4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

#about-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(./img/bw2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

#section-3 {
    background: linear-gradient(to left, black 40%, rgba(0, 0, 0, 0)), url(./img/bw3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    justify-content: center;
    align-items: center;
}

#p1 {
    font-size: 0.75rem;
    letter-spacing: 2px;
    line-height: 4.0rem;
    width: 50vw;
    margin-left: auto;
    margin-right: 100px;
    text-align: justify;
}

.color-word-1 {
    color: #247AFD;
}

.color-word-2 {
    font-size: 0.75rem;
    color: #247AFD;
    letter-spacing: 2.0px;
}

.slider-divisor {
    height: 1px;
    background-color: #247AFD;
}

#section-4 {
    z-index: 0;
}

#first-slide {
    display: flex;
    flex-direction: column;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(./img/bw12.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

#second-slide {
    display: flex;
    flex-direction: column;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/737sim/sim10bw.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

#third-slide {
    display: flex;
    flex-direction: column;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/lecture.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.swiper {
    width: 100%;
    height: 100%; /* Adjust height as needed */
    margin: auto;
}
  
.swiper-slide {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    object-fit: cover;
    position: relative;
}
  
.swiper-slide img {
    width: 75%;
    height: 75%;
    border-radius: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}

.blurry-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 35%;
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(7.5px);
    margin-left: auto;
    margin-right: 75px;
    margin-bottom: 125px;
    margin-top: auto;
    border: solid #ffffff;
}

.blurry-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0px;
}

.hidden {
    opacity: 0;
    transform: translateX(50px); /* Start slightly to the right */
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.show {
    opacity: 1;
    transform: translateX(0); /* Moves to the normal position */
}

#section-5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(./img/bw10.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

.fleet-description {
    margin-right: 50px;
}

.fleet-box {
    width: 30%;
    margin-right: 75px;
    margin-left: auto;
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(7.5px);
    border: solid #ffffff;
}

#viewer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 600px;
}

.performance-list {
    line-height: 3.0rem;
}

ul li {
    font-size: 0.75rem;
    letter-spacing: 3.0px;
}

.color-word-3 {
    font-size: 0.75rem;
    letter-spacing: 3.0px;
    color: #247AFD;
}

/* main webage responsive design */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 850px) {

    .sub-top-header {
        font-size: 0.75rem;
    }
}