@font-face {
    font-family: "Renogare-Regular";
    src: local("Renogare-Regular");
    src: local("Renogare Regular");
}

* {
    font-family: "Renogare-Regular", "Arial", sans-serif;
    color: #dadada;
    font-size: 1vw;
    letter-spacing: 10px;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    background-color:#ffffff;
}

/*#region Main page content */

/*#region General styles */
.slider-divisor {
    height: 1px;
    background-color: #e84728;
}

header, section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}

.section-h2 {
    font-size: 1.5rem;
    color: #e84728;
    text-align: center;
}

.section-p {
    color: #dadada;
    font-size: 1.0rem;
    letter-spacing: 1.5px;
    text-align: justify;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 60%;
    line-height: 40px;
}

.bullet-points-1 {
    display: flex;
    flex-direction: column;
    margin: 10px auto 10px 350px;
    width: 50%;
}

.bullet-point-1 {
    color: #dadada;
    font-size: 1.0rem;
    letter-spacing: 1.5px;
    line-height: 40px;
}
/*#endregion*/

/*#region Buttons */
.cta-button {
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0.8rem 1.5rem;
    background: #e84728;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    letter-spacing: 5px;
}

.cta-button:hover {
    background: #ff934c;
}
/*#endregion*/

/* #region Header section */
header {
    background: linear-gradient(rgba(20, 31, 53, 0.75), rgba(20, 31, 53, 0.75)), url(./img/cpa1.jpg);
    background-size: cover;
}

#header-h1, #header-p {
    text-align: center;
    width: 75%;
    letter-spacing: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#header-h1 {
    font-size: 3.0rem;
}

#header-p {
    font-size: 0.75rem;
    letter-spacing: 1.75px;
}
/*#endregion*/

/*#region Main sections */
#overview {
    background: linear-gradient(rgba(20, 31, 53, 0.9), rgba(20, 31, 53, 0.9)), url(./img/cpa5.jpg);
    background-size: cover;
    background-position: bottom right;
}
#why-choose {
    background: linear-gradient(rgba(20, 31, 53, 0.9), rgba(20, 31, 53, 0.9)), url(./img/cpa3.jpg);
    background-size: cover;
    background-position: bottom left;
}
#who-for {
    background: linear-gradient(rgba(20, 31, 53, 0.9), rgba(20, 31, 53, 0.9)), url(./img/cpa4.jpg);
    background-size: cover;
    background-position: top right;
}
#enroll {
    background: linear-gradient(rgba(20, 31, 53, 0.9), rgba(20, 31, 53, 0.9)), url(./img/cpa2.jpg);
    background-size: cover;
    background-position: center;
}
#final {
    background: linear-gradient(rgba(20, 31, 53, 0.75), rgba(20, 31, 53, 0.75)), url(./img/cpa6.jpg);
    background-size: cover;
}
/*#endregion*/

/*#region Section headers */
#who-for-h2 {
    margin-bottom: 50px;
}

#final-h2 {
    color: #dadada;
}
/*#endregion*/

/*#region Specific styles */
#contents, #benefits {
    margin: 10px auto 10px 350px;
}

#targets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    width: 60%;
}

.target {
    color: #ffffff;
    font-size: 0.85rem;
    letter-spacing: 2.0px;
    text-align: left;
    margin: 30px 0px 30px 0px;
    padding: 20px;
    background-color: rgba(20, 31, 53, 0.75);
    border-radius: 30px;
    width: 100%;
}

#details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    margin-top: 30px;  
    margin-bottom: 30px;
    width: 45%;
}

.detail {
    color: #ffffff;
    font-size: 0.75rem;
    letter-spacing: 2.0px;
    text-align: left;
    margin: 15px 0px 15px 0px;
    padding: 15px;
    background-color: rgba(20, 31, 53, 0.75);
    border-radius: 30px;
    width: 100%;
}
/*#endregion*/

/*#endregion*/

/*#region Responsive design */
@media screen and (max-width: 1200px) {

    section {
        background-size: cover;
        background-position: center;
    }

    #header-p {
        font-size: 1.0rem;
        letter-spacing: 1.75px;
    }

    .section-h2 {
        letter-spacing: 5.0px;
    }

    .section-p {
        line-height: 30px;
    }

    .bullet-points-1 {
        margin: 10px 50px 10px 50px;
    }

    .bullet-point-1 {
        line-height: 30px;
    }

    #targets {
        width: 75%;
    }

    #details {
        width: 60%;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .target, .detail {
        font-size: 1.0rem;
    }

    #final {
        background-size: cover;
    }
}

@media screen and (max-width: 850px) {

    section {
        background-size: 100% 80% !important;
        background-position: center !important;
    }

    .cta-button {
        font-size: 1.5rem;
    }

    #header-h1 {
        font-size: 5.0rem;
    }

    #header-h2 {
        font-size: 3.0rem;
    }

    #header-p {
        font-size: 2.0rem;
    }

    .section-h2 {
        font-size: 2.0rem;
    }

    .section-p {
        font-size: 1.5rem;
        width: 75%;
    }

    #contents, #benefits {
        margin: 0px;
        justify-content: left;
        align-items: left;
        width: 75%;
    }

    .bullet-point-1 {
        font-size: 1.5rem;
    }

    #targets, #details {
        width: 75%;
        line-height: 5px;
    }

    .target {
        font-size: 1.5rem;
        line-height: 10px;
    }

    .detail {
        font-size: 1.5rem;
        line-height: 10px;
    }

    #final {
        background-size: cover;
    }

    #final-h2 {
        font-size: 5.0rem;
    }
}
/*#endregion*/