@font-face {
    font-family: "Renogare-Regular";
    src: local("Renogare-Regular");
    src: local("Renogare Regular");
}

* {
    font-family: "Renogare-Regular", "Arial", sans-serif;
    color: #dadada;
    font-size: 1vw;
    letter-spacing: 10px;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    background-color:#000000;
}

/* main webpage content */
.slider-divisor {
    height: 1px;
    background-color: #e84728;
}

#hidden-divisor {
    display: none;
}

.slides {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

#first {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(./img/index/index1.jpg);
    background-size: cover;
    background-position: center;
    height: auto;
    min-height: 100vh;
}

#second {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(./img/index/index2.jpg);
    background-size: cover;
    background-position: center;
    height: auto;
    min-height: 100vh;
}

#third {
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url(./img/index/index3.jpg);
    background-size: cover;
    background-position: center;
    height: auto;
    min-height: 100vh;
}

#fourth {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(./img/index/index4.jpg);
    background-size: cover;
    background-position: center;
    height: auto;
    min-height: 100vh;
}

#fifth {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/index/index5.jpg);
    background-size: cover;
    background-position: center;
    height: auto;
    min-height: 100vh;
}

.info-container {
    margin: auto auto 10vh 5vh;
}

.main-header {
    font-size: 3.0rem;
    letter-spacing: 5px;
    text-align: left;
    margin: 0px;
}

.sub-header {
    display: flex;
    flex-direction: row;
    font-size: 2.0rem;
    margin: 40px 0px 40px 0px;
}

#index-sub-header {
    letter-spacing: 4px;
    font-size: 2.0rem;
}

#index-sub-header-p {
    letter-spacing: 1px;
    font-size: 1.25rem;
    color: #e84728;
    opacity: 0.85;
}

button {
    font-size: 2.0rem;
    display: block;
    padding: 10px;
    border: 0px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #e84728;
    color: #ffffff;
    border: 0px solid #ffffff;
}

.inline-button {
    font-size: 2.0rem;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 0.3s;
    cursor: pointer;
}

#b1, #b5 {
    padding-right: 30px;
}

#b2, #b3, #b6 {
    padding-right: 30px;
    padding-left: 30px;
}

#b4, #b7 {
    padding-left: 30px;
}

.inline-button:hover {
    color: #e84728;
}

.inline-separator {
    width: 3px;
    background-color: #ffffff;
}

/* main webpage responsive design */
@media screen and (max-width: 1200px) {

    .main-header {
        font-size: 3.0rem;
    }

    .button {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1100px) {

    #first {
        background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(./img/mobile/mobile1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .main-header {
        font-size: 4.0rem;
    }

    .inline-button {
        font-size: 3.0rem;
    }

    .button {
        font-size: 3.0rem;
    }
}

@media screen and (max-width: 768px) {

    html, body {
        background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(./img/mobile/mobile1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }

    #index-sub-header-p {
        display: none;
    }

    .slides {
        background: transparent !important;
    }

    #hidden-divisor {
        display: block;
    }

    .main-header {
        font-size: 5.0rem;
        letter-spacing: 1.0px;
    }

    .sub-header {
        font-size: 4.0rem;
        letter-spacing: 1.0px;
    }

    .button {
        font-size: 4.0rem;
        letter-spacing: 1.0px;
    }

    .inline-button {
        font-size: 4.0rem;
        letter-spacing: 1.0px;
        font-weight: bold;
    }

    #cpa-sub-header {
        font-size: 3.5rem;
    }
}
