@font-face {
    font-family: "Renogare-Regular";
    src: local("Renogare-Regular");
    src: local("Renogare Regular");
}

* {
    font-family: "Renogare-Regular", "Arial", sans-serif;
    color: #dadada;
    font-size: 1vw;
    letter-spacing: 10px;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}

/* main webpage content */
.slides {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

#first {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(./img/airliner.jpg);
    background-size: cover;
}

#second {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(./img/737sunset.jpg);
    background-size: cover;
    background-position: center;
}

#third {
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url(./img/cockpit_view.jpeg);
    background-size: cover;
    background-position: center;
}

#fourth {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(./img/cockpit_view2.jpeg);
    background-size: cover;
    background-position: center;
}

#fifth {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(./img/generic1.jpg);
    background-size: cover;
    background-position: center;
}

.inner-bottom {
    position: absolute;
    bottom: 125px;
    left: 0px;
    padding-left: 48px;
    padding-right: 32px;
    align-items: left;
}

.main-header {
    font-size: 3.0rem;
    letter-spacing: 5px;
    text-align: left;
    line-height: 75px;
}

.header-description {
    font-size: 2.0rem;
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: left;
    letter-spacing: 5px;
}

button {
    font-size: 1.0rem;
    display: block;
    margin: 0px;
    padding: 10px;
    border: 0px solid #ffffff;
    background-color: #00000040;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #e84728;
    color: #ffffff;
    border: 0px solid #ffffff;
}

.inline-buttons {
    display: flex;
    margin-bottom: 50px;
}

.inline-button {
    font-size: 2.0rem;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 0.3s;
    cursor: pointer;
}

#b1, #b5 {
    padding-right: 30px;
}

#b2, #b3, #b6 {
    padding-right: 30px;
    padding-left: 30px;
}

#b4, #b7 {
    padding-left: 30px;
}

.inline-button:hover {
    color: #e84728;
}

.inline-separator {
    width: 3px;
    background-color: #ffffff;
}

.slider-divisor {
    height: 1px;
    background-color: #e84728;
}

/* main webpage responsive design */
@media screen and (max-width: 1200px) {

    .main-header {
        font-size: 3.0rem;
    }

    .header-description {
        font-size: 2.0rem;
    }

    .button {
        font-size: 1.5rem;
    }

    .flex-box {
        width: 45%;
    }
}

@media screen and (max-width: 850px) {

    .main-header {
        font-size: 3.0rem;
    }

    .header-description {
        font-size: 2.0rem;
    }

    .flex-box-container {
        flex-direction: column;
        align-content: center;
    }

    .flex-box {
        width: 90%;
    }

    .box-title {
        font-size: 2.0rem;
    }

    .box-text {
        font-size: 1.5rem;
    }

    .inline-button {
        font-size: 3.0rem;
    }
}