@font-face {
    font-family: "Renogare-Regular";
    src: local("Renogare-Regular");
    src: local("Renogare Regular");
}

* {
    font-family: "Renogare-Regular", "Arial", sans-serif;
    color: #dadada;
    font-size: 1vw;
    letter-spacing: 10px;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    background-color:#000000;
}

/* main webpage content */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.slider-divisor {
    height: 1px;
    background-color: #e84728;
}

header, .simulator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

header {
    background: linear-gradient(rgba(20, 31, 53, 0.75), rgba(20, 31, 53, 0.75)), url(./img/sim/sim7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    opacity: 0;
    animation: fadeIn 1.0s ease-in forwards;
}

.simulator {
    background-color: rgba(20, 31, 53);
    padding: 0px;
}

h1 {
    font-size: 3.0rem;
    margin-top: 25px;
    margin-bottom: 25px;
}

#header-p {
    color: #dadada;
    font-size: 1.5rem;
    margin: 75px 75px 75px 75px;
    text-align: center;
}

.swiper {
    width: 100%;
    height: 100%;
    margin: auto;
}
  
.swiper-slide {
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    object-fit: cover;
    position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  color: #dadada !important;
}

#sim1-first-slide {
    background: linear-gradient(rgba(20, 31, 53, 0), rgba(20, 31, 53, 0)), url(./img/sim/sim1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#sim1-second-slide {
    background: linear-gradient(rgba(20, 31, 53, 0), rgba(20, 31, 53, 0)), url(./img/sim/sim2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#sim1-third-slide {
    background: linear-gradient(rgba(20, 31, 53, 0), rgba(20, 31, 53, 0)), url(./img/sim/sim4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#sim1-fourth-slide {
    background: linear-gradient(rgba(20, 31, 53, 0), rgba(20, 31, 53, 0)), url(./img/sim/sim5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#sim1-fifth-slide {
    background: linear-gradient(rgba(20, 31, 53, 0), rgba(20, 31, 53, 0)), url(./img/sim/sim3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#sim2-first-slide {
    background: linear-gradient(rgba(20, 31, 53, 0), rgba(20, 31, 53, 0)), url(./img/sim/sim10.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#sim2-second-slide {
    background: linear-gradient(rgba(20, 31, 53, 0), rgba(20, 31, 53, 0)), url(./img/sim/sim6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#sim2-third-slide {
    background: linear-gradient(rgba(20, 31, 53, 0), rgba(20, 31, 53, 0)), url(./img/sim/sim7.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#sim2-fourth-slide {
    background: linear-gradient(rgba(20, 31, 53, 0), rgba(20, 31, 53, 0)), url(./img/sim/sim11.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#final {
    background: linear-gradient(rgba(20, 31, 53, 0.75), rgba(20, 31, 53, 0.75)), url(./img/sim/sim12.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(20, 31, 53, 0.5);
    backdrop-filter: blur(7.5px);
    width: 100%;
    margin-bottom: 0px;
    margin-top: auto;
}

h2 {
    font-size: 1.5rem;
    margin-top: 25px;
    margin-bottom: 0px;
    color: #e84728;
}

p {
    font-size: 1.0rem;
    text-align: left;
    margin: 25px 50px 50px 50px;
    letter-spacing: 5px;
}

.cta-button {
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0.8rem 1.5rem;
    background: #e84728;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.0rem;
    letter-spacing: 5px;
}

.cta-button:hover {
    background: #ff934c;
}

/* Responsive design */
@media screen and (max-width: 850px) {

    #header-p {
        display: none;
    }

    .swiper-slide {
        background-size: 30%;
    }

    .cta-button {
        font-size: 3.0rem;
    }

    h2 {
        font-size: 3.0rem;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    p.sim-description {
        display: none;
    }
}