@font-face {
    font-family: "Renogare-Regular";
    src: local("Renogare-Regular");
    src: local("Renogare Regular");
}

* {
    font-family: "Renogare-Regular", "Arial", sans-serif;
    color: #dadada;
    font-size: 1vw;
    letter-spacing: 10px;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    background-color:#ffffff;
}

.slider-divisor {
    height: 1px;
    background-color: #e84728;
}

header, .simulator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    background: linear-gradient(rgba(20, 31, 53, 0), rgba(20, 31, 53, 0)), url(./img/sim1.jpg);
    background-size: cover;
    padding: 20px;
}

.simulator {
}

.simulator img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 5px;
}

p {
    text-align: center;
}