{% for session in sessions %}
    <a href="{% url 'fms:session_detail' '120_170' session.id %}" class="flight-item">
        <div class="flight-info">
            {% if user_role == 'student' %}
                <span class="student-name">{{ session.instructor_first_name }} {{ session.instructor_last_name }}</span>
            {% else %}
                <span class="student-name">{{ session.student_first_name }} {{ session.student_last_name }}</span>
            {% endif %}
            <span class="session-grade {% if session.session_grade == 'S' or session.session_grade == 'SS' %}grade-s{% elif session.session_grade == 'NS' %}grade-ns{% elif session.session_grade == 'NE' %}grade-ne{% endif %}">{{ session.session_grade }}</span>
        </div>
        <div class="flight-details">
            <div class="detail-item">
                <span class="detail-label">Fecha:</span>
                <span class="detail-value">{{ session.session_date|date:"d/m/Y" }}</span>
              </div>
              <div class="detail-item">
                <span class="detail-label">Sesión:</span>
                <span class="detail-value">{{ session.session_number }}{{ session.session_letter }}</span>
              </div>
              <div class="detail-item">
                <span class="detail-label">Horas:</span>
                <span class="detail-value">{{ session.session_flight_hours }}</span>
              </div>
              <div class="detail-item">
                <span class="detail-label">Aeronave:</span>
                <span class="detail-value">{{ session.aircraft.registration }}</span>
              </div>
              <div class="detail-item">
                <span class="detail-label">Instructor:</span>
                <span class="detail-value">{{ session.instructor_first_name }} {{ session.instructor_last_name }}</span>
              </div>
              <div class="detail-item">
                <span class="detail-label">Combustible:</span>
                <span class="detail-value">{{ session.fuel_consumed }}L</span>
              </div>
        </div>
    </a>
{% endfor %}

