@font-face {
    font-family: "Renogare-Regular";
    src: local("Renogare-Regular");
    src: local("Renogare Regular");
}

* {
    font-family: "Renogare-Regular", "Arial", sans-serif;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 10px;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}

/* navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 50px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 0px;
    background-color: rgba(20, 31, 53, 0.75);
    z-index: 1;
    backdrop-filter: blur(15px);
    transition: transform 0.3s ease;
}

nav.hidden {
    transform: translateY(-100%);
}

.nav-links {
    padding: 0px;
    margin-left: auto;
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 10px 0px 10px;
}

.nav-links a {
    font-size: 0.65rem;
    letter-spacing: 3px;
    text-decoration: none;
}

nav ul li a:hover {
    color: #e84728;
}

.logo-button {
    border: none;
}

.logo-img {
    height: 25px;
}

.image-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.burger {
    display: none;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* main webpage content */

.content-section {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    background-color: #000000;
}

.about-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#section-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/bw1.jpg);
    background-size: cover;
}

.about-title {
    justify-content: left;
    padding-right: 100px;
    margin-right: 50px;
    margin-left: 75px;
}

.about-header {
    font-size: 3.0rem;
    width: 100%;
}

.about-text {
    margin-left: 200px;
    margin-right: 100px;
    justify-content: justify;
}

#about-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(./img/bw7.jpg);
    background-size: cover;
}

#about-2 {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)), url(./img/bw4.jpg);
    background-size: cover;
    background-position: center;
}

#about-3 {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)), url(./img/bw2.jpg);
    background-size: cover;
    background-position: center;
}

.slider-divisor {
    height: 1px;
    background-color: rgb(232, 71, 40);
}

/* footer */

footer {
    background-color: #000000;
    padding: 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    text-align: center;
}

footer * {
    font-size: 0.6rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

footer p {
    color: rgb(128, 128, 128);
}

footer a {
    text-decoration: none; 
}

footer a:hover {
    text-decoration: underline;
}

.footer-container p {
    margin: 0 5px;
}

/* main webage responsive design */

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 850px) {

    footer * {
        font-size: 0.4rem;
    }
    
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-section {
        margin: 10px 0;
    }
}

/* navbar responsive design */

@media screen and (max-width: 1001px) {

    .navbar {
        background-color: transparent;
        backdrop-filter: blur(0px);
        border: none;
    }

    .nav-links {
        position: fixed;
        right: 0;
        height: 120vh;
        top: -20px;
        background-color: rgba(12, 23, 44, 0.7);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        padding: 85px 0px 0px 25px;
        backdrop-filter: blur(15px);
    }

    .nav-links li {
        opacity: 0;
        margin-right: auto;
        padding: 10px;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .burger div {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px;
        transition:  all 0.3s ease;
    }

    .nav-active {
        transform: translateX(0);
    }

    .nav-links.nav-active {
        border-left: 1px solid rgba(12, 23, 44);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .nav-links li {
        animation: navLinkFade 0.5s ease forwards 0.5s;
    }
}