@font-face {
    font-family: "Renogare-Regular";
    src: local("Renogare-Regular");
    src: local("Renogare Regular");
}

* {
    font-family: "Renogare-Regular", "Arial", sans-serif;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 10px;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}


/* Navigation menu */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 50px;
    padding: 10px 20px 10px 20px;
    margin-bottom: -50px;
    background-color: rgba(20, 31, 53, 0.702);
    z-index: 1;
    backdrop-filter: blur(15px);
    transition: transform 0.3s ease;
}

nav.hidden {
    transform: translateY(-100%);
}

.nav-links {
    padding: 0px;
    margin-left: auto;
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 10px 0px 10px;
}

.nav-links a {
    font-size: 0.65rem;
    letter-spacing: 3px;
    text-decoration: none;
}

nav ul li a:hover {
    color: #e84728;
}

.logo-button {
    border: none;
}

.logo-img {
    height: 25px;
}

.image-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.burger {
    display: none;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


/* Main website content */

.main-container {
    text-align: center;
    text-transform: uppercase;
}

.slides {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

#first {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)), url(./img/off3.jpg);
    background-size: cover;
}

#second {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(./img/737panel.jpg);
    background-size: cover;
}

#third {
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url(./img/sim2.jpg);
    background-size: cover;
}

#fourth {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25)), url(./img/off6.jpg);
    background-size: cover;
}

#fifth {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(./img/wingview.jpg);
    background-size: cover;
}

.inner-bottom {
    position: absolute;
    bottom: 125px;
    left: 0px;
    padding-left: 48px;
    padding-right: 32px;
    align-items: left;
}

.main-header {
    font-size: 3.0rem;
    letter-spacing: 5px;
    text-align: left;
    line-height: 75px;
}

.header-description {
    font-size: 2.0rem;
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: left;
    letter-spacing: 5px;
}

button {
    font-size: 1.0rem;
    display: block;
    margin: 0px;
    padding: 10px;
    border: 0px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: rgb(232, 71, 40);
    color: #ffffff;
    border: 0px solid #ffffff;
}

.inline-buttons {
    display: flex;
    margin-bottom: 50px;
}

.inline-button {
    font-size: 2.0rem;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 0.3s;
    cursor: pointer;
}

#b1, #b5 {
    padding-right: 30px;
}

#b2, #b3, #b6 {
    padding-right: 30px;
    padding-left: 30px;
}

#b4, #b7 {
    padding-left: 30px;
}

.inline-button:hover {
    color: rgb(232, 71, 40);
}

.inline-separator {
    width: 3px;
    background-color: #ffffff;
}

.slider-divisor {
    height: 1px;
    background-color: rgb(232, 71, 40);
}

.background {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25)), url(./img/wingview.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.content-section {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    height: 100vh;
}

.content-section#section1 {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(./img/off5.jpg);
    background-size: cover;
}

.next-course-container {
    width: 92.5%;
    justify-content: right;
    margin-right: 0;
    margin-left: auto;
}

.next-course-title {
    font-size: 2.0rem;
    color: #d9dad8;
}

.next-course-date {
    font-size: 1.5rem;
}

.content-section#section2 {
    height: 100%;
}

.course-slide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    height: 100vh;
    opacity: 1;
}

.course-img-box {
    display: flex;
    padding: 20px;
    margin: 20px;
}

.course-img {
    max-width:600px;
    max-height: 555px;
    width: auto;
    height: auto;
    opacity: 0;
    transition: opacity 3.0s;
}

.course-img.scrolled {
    opacity: 1;
}

.scrolled.slide-left {
    animation: slide-in-left 1.0s ease-in-out both;
}

@keyframes slide-in-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

.course-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 20px;
    margin: 20px;
    opacity: 0;
    transition: opacity 3.0s;
}

.course-info.scrolled {
    opacity: 1;
}

.course-title {
    font-size: 2.0rem;
    letter-spacing: 3px;
    margin: 25px 0px 25px 0px;
}

.course-description {
    font-family: "Renogare-Regular", "Arial", sans-serif;
    text-align: justify;
    font-size: 1.0rem;
    line-height: 2.0rem;
    letter-spacing: 1.5px;
    width: 100%;
}

ul.course-bullets, li.course-bullet {
    font-family: "Renogare-Regular", "Arial", sans-serif;
    text-align: left;
    font-size: 1.0rem;
    line-height: 2.0rem;
    letter-spacing: 5.0px;
    width: 100%;
}

.course-button {
    font-size: 1.0rem;
    margin: 0px;
    padding: 10px;
    border: 0px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 5px;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.course-button:hover {
    background-color: rgb(232, 71, 40);
    color: #ffffff;
    border: 0px solid #ffffff;
}

.scrolled.slide-right {
    animation: slide-in-right 1.0s ease-in-out both;
}

@keyframes slide-in-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}


.content-section#section3 {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(./img/off14.jpg);
    background-size: cover;
}


/* Footer design */

footer {
    background-color: #000000;
    padding: 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    text-align: center;
}

footer * {
    font-size: 0.6rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

footer p {
    color: rgb(128, 128, 128);
}

footer a {
    text-decoration: none; 
}

footer a:hover {
    text-decoration: underline;
}

.footer-container p {
    margin: 0 5px;
}


/* Main website responsive design */

@media screen and (max-width: 1200px) {
    .main-header {
        font-size: 2.5rem;
    }
    .header-description {
        font-size: 1.5rem;
    }
    .flex-box {
        width: 45%;
    }
}

@media screen and (max-width: 850px) {
    .main-header {
        font-size: 2.0rem;
    }
    .header-description {
        font-size: 1.0rem;
    }
    .flex-box-container {
        flex-direction: column;
        align-content: center;
    }
    .flex-box {
        width: 90%;
    }
    .box-title {
        font-size: 1rem;
    }
    .box-text {
        font-size: 0.75rem;
    }

    .inline-button {
        font-size: 1.5rem;
    }

    footer * {
        font-size: 0.4rem;
    }
    
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
    .footer-section {
        margin: 10px 0;
    }
}


/* Navbar responsive design */

@media screen and (max-width: 1001px) {

    .navbar {
        background-color: transparent;
        backdrop-filter: blur(0px);
        border: none;
    }

    .nav-links {
        position: fixed;
        right: 0;
        height: 120vh;
        top: -20px;
        background-color: rgba(12, 23, 44, 0.7);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        padding: 85px 0px 0px 25px;
        backdrop-filter: blur(15px);
    }

    .nav-links li {
        opacity: 0;
        margin-right: auto;
        padding: 10px;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .burger div {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px;
        transition:  all 0.3s ease;
    }

    .nav-active {
        transform: translateX(0);
    }

    .nav-links.nav-active {
        border-left: 1px solid rgba(12, 23, 44);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .nav-links li {
        animation: navLinkFade 0.5s ease forwards 0.5s;
    }
}