{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NAV | Log In</title>
    <link href="{% static 'login.css' %}" rel="stylesheet" />
  </head>

  <body>
    <div class="logo-container">
      <img
        class="logo-img"
        src="{% static 'img/nav_logo_miniatura.png' %}"
        alt="Logo"
      />
    </div>
    <div class="error-message-container">
      {% if messages %}
        {% for message in messages %}
          <p class="error-message">{{ message }}</p>
        {% endfor %}
      {% endif %}
    </div>
    <div class="form-container">
      <form action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %} 
        {{ form }}
        <input type="hidden" name="next" value="{{ next }}" />
        <div class="submit-button-container">
          <button class='submit-button' type="submit">Login</button>
        </div>
      </form>
    </div>
  </body>
</html>