{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NAV | Logged out</title>
    <link href="{% static 'logout_styles.css' %}" rel="stylesheet" />
  </head>

  <body>
    <div class="logged-out-container">
        <h1>Logged out</h1>
        <p>
            Ha cerrado sesión exitosamente.
            Puede <a href="{% url 'accounts:login' %}">iniciar sesión</a> nuevamente.
        </p>
    </div>
  </body>
</html>
