{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NAV | Logged out</title>
    <link href="{% static 'logout.css' %}" rel="stylesheet" />
  </head>

  <body>
    <div class="main-container">
      <div class="logo-container">
        <img
          class="logo-img"
          src="{% static 'img/nav_logo_miniatura.png' %}"
          alt="Logo"
        />
      </div>
      <div class="text-container">
        <h1>Ha cerrado sesión exitosamente</h1>
        <a href="{% url 'accounts:login' %}">Iniciar sesión</a>
      </div>
    </div>
  </body>
</html>
