{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NAV | Log In</title>
    <link href="{% static 'login_styles.css' %}" rel="stylesheet" />
  </head>

  <body>
    <div class="logo-container">
      <img
        class="logo-img"
        src="{% static 'img/nav_logo_original.png' %}"
        alt="Logo"
      />
    </div>
    {% if form.errors %}
    <p>
        Your username and password didn't match. 
        Please try again.
    </p>
    {% else %}
        <p>Please, use the following form to log-in:</p>
    {% endif %}
    <div class="login-form">
      <form action="{% url 'login' %}" method="post">
        {% csrf_token %} 
        {{ form }}
        <input type="hidden" name="next" value="{{ next }}" />
        <p><input type="submit" value="Log-in" /></p>
      </form>
    </div>
  </body>
</html>

<!--  -->{% load static %}

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NAV | Log In</title>
    <link href="{% static 'login_styles.css' %}" rel="stylesheet" />
  </head>

  <body>
    <div class="logo-container">
      <img
        class="logo-img"
        src="{% static 'img/nav_logo_original.png' %}"
        alt="Logo"
      />
    </div>
    <div class="form-container">
      <form class="form" action="/accounts/login/" method="post">
        {% csrf_token %} 
        {{ form }}
        <div class="submit-button-container">
          <button class="submit-button">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html> -->
