{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NAV | Contraseña actualizada</title>
    <link href="{% static 'password_change.css' %}" rel="stylesheet" />
  </head>

  <body>
    <div class="error-message-container">
      {% if messages %}
        {% for message in messages %}
          <p class="error-message">{{ message }}</p>
        {% endfor %}
      {% endif %}
    </div>
    <div class="main-container">
      <div class="img-container">
        <img class="img" src="{% static 'img/check_mark.png' %}" alt="Checkmark"/>
      </div>
      <div>
        <h1>Contraseña actualizada exitosamente</h1>
      </div>
      <a class="back-to-login" href="{% url 'accounts:login' %}">
        <button class='button' type='button'>Back to login</button>
      </a>
    </div>
  </body>
</html>