{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NAV | Dashboard</title>
    <link href="{% static 'dashboard.css' %}" rel="stylesheet" />
  </head>

  <body>
    <div class="main-container">
        <div class="dashboard-container">
            <div class="left-column">
                <div class="dashboard-square">Balance</div>
                <div class="dashboard-square">Académico</div>
            </div>
            <div class="right-column">
                <div class="dashboard-square">
                  <a href="{% url 'accounts:password_change' %}">
                    <button>Actualizar datos</button>
                  </a>
                </div>
                <div class="dashboard-square">Agenda tu vuelo</div>
            </div>
        </div>
    </div>
  </body>
</html>