{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NAV | Dashboard</title>
    <link href="{% static 'dashboard.css' %}" rel="stylesheet" />
  </head>

  <body>
    <div class="main-container">
      <div class="data-container">
        <div class="data-header">
          <h1>Bienvenido</h1>
        </div>
        <div class="user-data">
          <p>Nombres: {{ user.first_name }}</p>
          <p>Apellidos: {{ user.last_name }}</p>
          <p>Usuario: {{ user.username }}</p>
          <p>ID: {{ user.national_id }}</p>
          <p>Email: {{ user.email }}</p>
          <p>Función: {{ user.instructor_profile.instructor_type }}</p>
        </div>
        <div class="buttons">
          <div class="button-container">
            <a href="{% url 'accounts:password_change' %}">
              <button class='button' id="password-change" type="submit">Actualizar contraseña</button>
            </a>
          </div>
          <div class="button-container">
            <a href="{% url 'accounts:login' %}">
              <button class='button' id="logout" type="submit">Cerrar sesión</button>
            </a>
          </div>
        </div>
      </div>
      <div class="dashboard-container">
          <div class="left-column">
            <div class="dashboard-square">
              <h1 class="square-header">Cargar notas</h1>
              {% if request.user.is_authenticated and request.user.instructor_profile.instructor_type in 'TIERRA,DUAL' %}
                <a class="image-link" href="{% url 'academic:submit_grade' %}">
                  <img class="logo-img" src="{% static 'img/addGrade.png' %}" alt="Cargar notas">
                </a>
              {% else %}
                <div class="image-link disabled">
                  <img 
                  class="logo-img" 
                  src="{% static 'img/addGrade.png' %}"
                  alt="Cargar notas" 
                  title="Solo disponible para instructores de tierra."
                  >
                </div>
              {% endif %}
            </div>
            <div class="dashboard-square">
              <h1 class="square-header">Cargar vuelo</h1>
              {% if request.user.is_authenticated and request.user.instructor_profile.instructor_type in 'VUELO,DUAL' %}
                <a class="image-link" href="{% url 'fms:form_selection' %}">
                  <img class="logo-img" src="{% static 'img/plane.png' %}" alt="Evaluación de vuelo">
                </a>
              {% else %}
                <div class="image-link disabled">
                  <img 
                  class="logo-img" 
                  src="{% static 'img/plane.png' %}" 
                  alt="Evaluación de vuelo" 
                  title="Solo disponible para instructores de vuelo."
                  >
                </div>
              {% endif %}
            </div>
          </div>
          <div class="right-column">
            <div class="dashboard-square">
              <h1 class="square-header">Flight Log</h1>
              {% if request.user.is_authenticated and request.user.instructor_profile.instructor_type in 'VUELO,DUAL' %}
                <a class="image-link" href="{% url 'dashboard:dashboard' %}">
                  <img class="logo-img" src="{% static 'img/flightlog.png' %}" alt="Bitácora">
                </a>
              {% else %}
                <div class="image-link disabled">
                  <img 
                  class="logo-img" 
                  src="{% static 'img/flightlog.png' %}" 
                  alt="Bitácora" 
                  title="Solo disponible para instructores de vuelo."
                  >
                </div>
              {% endif %}
            </div>
            <div class="dashboard-square">
              <h1 class="square-header">Calendario de vuelos</h1>
              {% if request.user.is_authenticated and request.user.instructor_profile.instructor_type in 'VUELO,DUAL' %}
                <a class="image-link" href="{% url 'dashboard:dashboard' %}">
                  <img class="logo-img" src="{% static 'img/calendar.png' %}" alt="Calendario">
                </a>
              {% else %}
                <div class="image-link disabled">
                  <img 
                  class="logo-img" 
                  src="{% static 'img/calendar.png' %}" 
                  alt="Calenario" 
                  title="Solo disponible para instructores de vuelo."
                  >
                </div>
              {% endif %}
            </div>
          </div>
      </div>
    </div>
  </body>
</html>