{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NAV | Dashboard</title>
    <link href="{% static 'staff_dashboard.css' %}" rel="stylesheet" />
  </head>

  <body>
    <div class="main-container">
      <div class="data-container">
        <div class="data-header">
          <h1>Staff</h1>
        </div>
        <div class="user-data">
          <p>Nombres: {{ user.first_name }}</p>
          <p>Apellidos: {{ user.last_name }}</p>
          <p>Usuario: {{ user.username }}</p>
          <p>ID: {{ user_profile.staff_id }}</p>
          <p>Email: {{ user.email }}</p>
        </div>
        <div class="buttons">
          <div class="button-container">
            <a href="{% url 'accounts:password_change' %}">
              <button class='button' id="password-change" type="submit">Actualizar contraseña</button>
            </a>
          </div>
          <div class="button-container">
            <a href="{% url 'accounts:logout' %}">
              <button class='button' id="logout" type="submit">Cerrar sesión</button>
            </a>
          </div>
        </div>
      </div>
      <div class="dashboard-container">
          <div class="left-column">

            <div class="dashboard-square">
              <h1 class="square-header">Balance</h1>
              <p>{{ user_profile.student_balance }}</p>
            </div>

            <div class="dashboard-square">
              <h1 class="square-header">Académico</h1>
              <a class="image-link" href="{% url 'dashboard:dashboard' %}">
                <img class="logo-img" src="{% static 'img/transcript.png' %}" alt="Transcript">
              </a>
            </div>
          </div>

          <div class="right-column">

            <div class="dashboard-square">
              <h1 class="square-header">Flight Log</h1>
              <a class="image-link" href="{% url 'dashboard:dashboard' %}">
                <img class="logo-img" src="{% static 'img/flightlog.png' %}" alt="Flight Log">
              </a>
            </div>

            <div class="dashboard-square">
              <h1 class="square-header">Agenda tu vuelo</h1>
              <a class="image-link" href="{% url 'dashboard:dashboard' %}">
                <img class="logo-img" src="{% static 'img/plane.png' %}" alt="Airplane">
              </a>
            </div>

          </div>

      </div>
    </div>
  </body>
</html>