{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NAV | Selección de formato</title>
    <link href="{% static 'form_selection.css' %}" rel="stylesheet" />
  </head>

  <body>
    <div class="main-container">
      <h1 class="main-header">Selección de formato</h1>
      <a class="submit-button" href="{% url 'fms:flight_evaluation_0_100' %}">0-100 horas</a>
      <a class="submit-button" href="{% url 'fms:flight_evaluation_100_120' %}">100-120 horas</a>
      <a class="submit-button" href="">120-170 horas</a>
    </div>
  </body>
</html>