{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NAV | Selección de formato</title>
    <link href="{% static 'form_selection.css' %}" rel="stylesheet" />
  </head>

  <body>
    <div class="main-container">
      <h1 class="main-header">Selección de formato</h1>
      <button class="submit-button">0-100 horas</button>
      <button class="submit-button">100-120 horas</button>
      <button class="submit-button">120-170 horas</button>
    </div>
  </body>
</html>