{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>NAV | Planilla de evaluación</title>
        <link href="{% static 'pdf.css' %}" rel="stylesheet"> 
    </head>

    <body>
        <section class="main-container">
            <!-- Logo and form title -->
            <section class="header-container">
                <img class="logo" src="{% static 'img/evaluation_logo.png' %}" alt="NAV Logo">
                <h1 class="title">Formulario de evaluación vuelo simulado</h1>
                <h1 class="title">SIM</h1>
            </section>

            <!-- Data table -->
            <section class="data-container">
                <div class="row" id="row-1">
                    <div class="data-cell" id="data-cell-1">Nombre y Apellido AP/Piloto: {{ evaluation.student_first_name }} {{ evaluation.student_last_name }}</div>
                    <div class="data-cell" id="data-cell-2">Cédula: {{ evaluation.student_id }}</div>
                    <div class="data-cell" id="data-cell-3">Tipo y N° de licencia: {{ evaluation.student_license_type }}{{ evaluation.student_license_number }}</div>
                </div>
                <div class="row" id="row-2">
                    <div class="data-cell" id="data-cell-4">Nombre y Apellido Instructor: {{ evaluation.instructor_first_name }} {{ evaluation.instructor_last_name }}</div>
                    <div class="data-cell" id="data-cell-5">Cédula: {{ evaluation.instructor_id }}</div>
                    <div class="data-cell" id="data-cell-6">Tipo y N° de licencia: {{ evaluation.instructor_license_type }}{{ evaluation.instructor_license_number }}</div>
                </div>
                <div class="row" id="row-3">
                    <div class="data-cell" id="data-cell-7">Reglas de vuelo: {{ evaluation.flight_rules }}</div>
                    <div class="data-cell" id="data-cell-8">Curso: {{ evaluation.course_type }}</div>
                    <div class="data-cell" id="data-cell-9">Horas acumuladas: {{ evaluation.accumulated_sim_hours }}</div>
                </div>
                <div class="row" id="row-4">
                    <div class="data-cell" id="data-cell-10">Simulador: {{ evaluation.simulator }}</div>
                    <div class="data-cell" id="data-cell-11">Sesión: {{ evaluation.session_number }}{{ evaluation.session_letter }}</div>
                    <div class="data-cell" id="data-cell-12">Horas sesión: {{ evaluation.session_sim_hours }}</div>
                </div>
                <div class="row" id="row-5">
                    <div class="data-cell" id="data-cell-13">Fecha: {{ evaluation.session_date|date:'d/m/Y' }}</div>
                    <div class="data-cell" id="data-cell-14">Horas totales: {{ evaluation.total_sim_hours }}</div>
                </div>
            </section>

            <!-- Grades legend -->
            <section class="grade-container">
                <p id="grade-legend">SS: Sobre el Estándar | S: Estándar | NS: No Estándar | NE: No Evaluado</p>
                <p class="data-box">Sesión pre-solo: {{ evaluation.pre_solo_flight }}</p>
                <p class="data-box">Calificación: {{ evaluation.session_grade }}</p>
            </section>

            <!-- Grades table -->
            <section class="grades-table-container">
                <div class="grades-table-column">
                    <table border="1" class="grades-table">
                        <tbody>
                            <!-- Prevuelo -->
                            <tr>
                                <td class="grades-table-cell table-section section-title">Prevuelo</td>
                                <td class="grades-table-cell grade table-section"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Preparación general del vuelo</td>
                                <td class="grades-table-cell grade">{{ evaluation.pre_1 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Lista de chequeo</td>
                                <td class="grades-table-cell grade">{{ evaluation.pre_2 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Instrucciones del ATC</td>
                                <td class="grades-table-cell grade">{{ evaluation.pre_3 }}</td>
                            </tr>
                            <!-- Despegue -->
                            <tr>
                                <td class="grades-table-cell table-section section-title">Despegue</td>
                                <td class="grades-table-cell grade table-section"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Uso de potencia</td>
                                <td class="grades-table-cell grade">{{ evaluation.to_1 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Rumbo</td>
                                <td class="grades-table-cell grade">{{ evaluation.to_2 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Actitud</td>
                                <td class="grades-table-cell grade">{{ evaluation.to_3 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Velocidad</td>
                                <td class="grades-table-cell grade">{{ evaluation.to_4 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Procedimiento de despegue</td>
                                <td class="grades-table-cell grade">{{ evaluation.to_5 }}</td>
                            </tr>
                            <!-- Procedimiento de salida -->
                            <tr>
                                <td class="grades-table-cell table-section section-title">Procedimiento de salida</td>
                                <td class="grades-table-cell grade table-section"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Uso de radioayudas</td>
                                <td class="grades-table-cell grade">{{ evaluation.dep_1 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Radiocomunicaciones</td>
                                <td class="grades-table-cell grade">{{ evaluation.dep_2 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Instrucciones del ATC</td>
                                <td class="grades-table-cell grade">{{ evaluation.dep_3 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Conocimiento del SID</td>
                                <td class="grades-table-cell grade">{{ evaluation.dep_4 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Ejecución del SID</td>
                                <td class="grades-table-cell grade">{{ evaluation.dep_5 }}</td>
                            </tr>
                            <!-- Instrumentos básicos-->
                            <tr>
                                <td class="grades-table-cell table-section section-title">Instrumentos básicos</td>
                                <td class="grades-table-cell grade table-section"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Ascenso</td>
                                <td class="grades-table-cell grade">{{ evaluation.inst_1 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Técnica de nivelado</td>
                                <td class="grades-table-cell grade">{{ evaluation.inst_2 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Vuelo recto nivelado</td>
                                <td class="grades-table-cell grade">{{ evaluation.inst_3 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Virajes estándar</td>
                                <td class="grades-table-cell grade">{{ evaluation.inst_4 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Virajes 30° de banqueo</td>
                                <td class="grades-table-cell grade">{{ evaluation.inst_5 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Virajes 45° de banqueo</td>
                                <td class="grades-table-cell grade">{{ evaluation.inst_6 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">S's verticales</td>
                                <td class="grades-table-cell grade">{{ evaluation.inst_7 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Cambios de velocidad</td>
                                <td class="grades-table-cell grade">{{ evaluation.inst_8 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Cambios de configuración</td>
                                <td class="grades-table-cell grade">{{ evaluation.inst_9 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Panel parcial</td>
                                <td class="grades-table-cell grade">{{ evaluation.inst_10 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Pérdida (conf. limpia)</td>
                                <td class="grades-table-cell grade">{{ evaluation.inst_11 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Pérdida (conf. de despegue)</td>
                                <td class="grades-table-cell grade">{{ evaluation.inst_12 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Pérdida (conf. de aterrizaje)</td>
                                <td class="grades-table-cell grade">{{ evaluation.inst_13 }}</td>
                            </tr>
                            <!-- Actitudes anormales -->
                            <tr>
                                <td class="grades-table-cell table-section section-title">Actitudes anormales</td>
                                <td class="grades-table-cell grade table-section"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Reconocimiento de actitudes inusuales (UPSET)</td>
                                <td class="grades-table-cell grade">{{ evaluation.upset_1 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Procedimiento de recuperación</td>
                                <td class="grades-table-cell grade">{{ evaluation.upset_2 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Uso de instrumentos</td>
                                <td class="grades-table-cell grade">{{ evaluation.upset_3 }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="grades-table-column">
                    <table border="1" class="grades-table">
                        <tbody>
                            <!-- Misceláneos -->
                            <tr>
                                <td class="grades-table-cell table-section section-title">Misceláneos</td>
                                <td class="grades-table-cell grade table-section"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Uso de transponder</td>
                                <td class="grades-table-cell grade">{{ evaluation.misc_1 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Teoría de vuelo por instrumentos</td>
                                <td class="grades-table-cell grade">{{ evaluation.misc_2 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Lectura e interpretación de cartas</td>
                                <td class="grades-table-cell grade">{{ evaluation.misc_3 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Uso del computador</td>
                                <td class="grades-table-cell grade">{{ evaluation.misc_4 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Conocimiento RAV</td>
                                <td class="grades-table-cell grade">{{ evaluation.misc_5 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Conocimiento general</td>
                                <td class="grades-table-cell grade">{{ evaluation.misc_6 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Uso de los compensadores</td>
                                <td class="grades-table-cell grade">{{ evaluation.misc_7 }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table border="1" class="grades-table">
                        <tbody>
                            <!-- Uso de radioayudas -->
                            <tr>
                                <td class="grades-table-cell table-section">Uso de radioayudas</td>
                                <td class="grades-table-cell grade table-section">VOR</td>
                                <td class="grades-table-cell grade table-section">ADF</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Sintonía para la identificación</td>
                                <td class="grades-table-cell grade">{{ evaluation.radio_1 }}</td>
                                <td class="grades-table-cell grade">{{ evaluation.radio_12 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Intercepción INBOUND</td>
                                <td class="grades-table-cell grade">{{ evaluation.radio_2 }}</td>
                                <td class="grades-table-cell grade">{{ evaluation.radio_13 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Intercepción OUTBOUND</td>
                                <td class="grades-table-cell grade">{{ evaluation.radio_3 }}</td>
                                <td class="grades-table-cell grade">{{ evaluation.radio_14 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Tracking</td>
                                <td class="grades-table-cell grade">{{ evaluation.radio_4 }}</td>
                                <td class="grades-table-cell grade">{{ evaluation.radio_15 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Entrada correcta</td>
                                <td class="grades-table-cell grade">{{ evaluation.radio_5 }}</td>
                                <td class="grades-table-cell grade">{{ evaluation.radio_16 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Patrón de espera</td>
                                <td class="grades-table-cell grade">{{ evaluation.radio_6 }}</td>
                                <td class="grades-table-cell grade">{{ evaluation.radio_17 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Virajes de procedimiento</td>
                                <td class="grades-table-cell grade">{{ evaluation.radio_7 }}</td>
                                <td class="grades-table-cell grade">{{ evaluation.radio_18 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Estimación y correcciones de tiempo</td>
                                <td class="grades-table-cell grade">{{ evaluation.radio_8 }}</td>
                                <td class="grades-table-cell grade">{{ evaluation.radio_19 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Radiocomuniciones</td>
                                <td class="grades-table-cell grade">{{ evaluation.radio_9 }}</td>
                                <td class="grades-table-cell grade">{{ evaluation.radio_20 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Arco DME</td>
                                <td class="grades-table-cell grade">{{ evaluation.radio_10 }}</td>
                                <td class="grades-table-cell grade">{{ evaluation.radio_21 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Técnica general</td>
                                <td class="grades-table-cell grade">{{ evaluation.radio_11 }}</td>
                                <td class="grades-table-cell grade">{{ evaluation.radio_22 }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table border="1" class="grades-table">
                        <tbody>
                            <!-- Aproximaciones -->
                            <tr>
                                <td class="grades-table-cell table-section">Aproximaciones</td>
                                <td class="grades-table-cell grade table-section">ILS</td>
                                <td class="grades-table-cell grade table-section">VOR</td>
                                <td class="grades-table-cell grade table-section">ADF</td>

                            </tr>
                            <tr>
                                <td class="grades-table-cell">Instrucciones del ATC</td>
                                <td class="grades-table-cell grade">{{ evaluation.app_1 }}</td>
                                <td class="grades-table-cell grade">{{ evaluation.app_9 }}</td>
                                <td class="grades-table-cell grade">{{ evaluation.app_17 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Uso de frecuencias apropiadas</td>
                                <td class="grades-table-cell grade">{{ evaluation.app_2 }}</td>
                                <td class="grades-table-cell grade">{{ evaluation.app_10 }}</td>
                                <td class="grades-table-cell grade">{{ evaluation.app_18 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Radiocomunicaciones</td>
                                <td class="grades-table-cell grade">{{ evaluation.app_3 }}</td>
                                <td class="grades-table-cell grade">{{ evaluation.app_11 }}</td>
                                <td class="grades-table-cell grade">{{ evaluation.app_19 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Interpretación de cartas</td>
                                <td class="grades-table-cell grade">{{ evaluation.app_4 }}</td>
                                <td class="grades-table-cell grade">{{ evaluation.app_12 }}</td>
                                <td class="grades-table-cell grade">{{ evaluation.app_20 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Ejecución del procedimiento</td>
                                <td class="grades-table-cell grade">{{ evaluation.app_5 }}</td>
                                <td class="grades-table-cell grade">{{ evaluation.app_13 }}</td>
                                <td class="grades-table-cell grade">{{ evaluation.app_21 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Configuración</td>
                                <td class="grades-table-cell grade">{{ evaluation.app_6 }}</td>
                                <td class="grades-table-cell grade">{{ evaluation.app_14 }}</td>
                                <td class="grades-table-cell grade">{{ evaluation.app_22 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Aproximación frustrada</td>
                                <td class="grades-table-cell grade">{{ evaluation.app_7 }}</td>
                                <td class="grades-table-cell grade">{{ evaluation.app_15 }}</td>
                                <td class="grades-table-cell grade">{{ evaluation.app_23 }}</td>
                            </tr>
                            <tr class="empty-row"></tr>
                            <tr>
                                <td class="grades-table-cell">Tipo de aproximación</td>
                                <td class="grades-table-cell grade long-cell" colspan="3">{{ evaluation.app_8 }} {{ evaluation.app_16 }} {{ evaluation.app_24 }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table border="1" class="grades-table">
                        <tbody>
                            <!-- Go-around -->
                            <tr>
                                <td class="grades-table-cell table-section section-title">Go-around</td>
                                <td class="grades-table-cell grade table-section"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Ejecución del procedimiento</td>
                                <td class="grades-table-cell grade">{{ evaluation.go_1 }}</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Comunicación</td>
                                <td class="grades-table-cell grade">{{ evaluation.go_2 }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>

            <!-- Footer -->
            <section class="footer-container">
                <p class="signature">Firma Piloto/AP: ____________________</p>
                <p class="signature">Firma Instructor: ____________________</p>
            </section>
        </section>

        {% if evaluation.comments %}
            <!-- Page break for comments -->
            <div class="page-break"></div>

            <!-- Logo and form title -->
            <section class="header-container">
                <img class="logo" src="{% static 'img/evaluation_logo.png' %}" alt="NAV Logo">
                <h1 class="title">Formulario de evaluación vuelo simulado</h1>
                <h1 class="title">SIM</h1>
            </section>

            <!-- Data table -->
            <section class="data-container">
                <div class="row" id="row-1">
                    <div class="data-cell" id="data-cell-1">Nombre y Apellido AP/Piloto: {{ evaluation.student_first_name }} {{ evaluation.student_last_name }}</div>
                    <div class="data-cell" id="data-cell-2">Cédula: {{ evaluation.student_id }}</div>
                    <div class="data-cell" id="data-cell-3">Tipo y N° de licencia: {{ evaluation.student_license_type }}{{ evaluation.student_license_number }}</div>
                </div>
                <div class="row" id="row-2">
                    <div class="data-cell" id="data-cell-4">Nombre y Apellido Instructor: {{ evaluation.instructor_first_name }} {{ evaluation.instructor_last_name }}</div>
                    <div class="data-cell" id="data-cell-5">Cédula: {{ evaluation.instructor_id }}</div>
                    <div class="data-cell" id="data-cell-6">Tipo y N° de licencia: {{ evaluation.instructor_license_type }}{{ evaluation.instructor_license_number }}</div>
                </div>
                <div class="row" id="row-3">
                    <div class="data-cell" id="data-cell-7">Reglas de vuelo: {{ evaluation.flight_rules }}</div>
                    <div class="data-cell" id="data-cell-8">Curso: {{ evaluation.course_type }}</div>
                    <div class="data-cell" id="data-cell-9">Horas acumuladas: {{ evaluation.accumulated_sim_hours }}</div>
                </div>
                <div class="row" id="row-4">
                    <div class="data-cell" id="data-cell-10">Simulador: {{ evaluation.simulator }}</div>
                    <div class="data-cell" id="data-cell-11">Sesión: {{ evaluation.session_number }}{{ evaluation.session_letter }}</div>
                    <div class="data-cell" id="data-cell-12">Horas sesión: {{ evaluation.session_sim_hours }}</div>
                </div>
                <div class="row" id="row-5">
                    <div class="data-cell" id="data-cell-13">Fecha: {{ evaluation.session_date|date:'d/m/Y' }}</div>
                    <div class="data-cell" id="data-cell-14">Horas totales: {{ evaluation.total_sim_hours }}</div>
                </div>
            </section>

            <!-- Grades legend -->
            <section class="grade-container">
                <p id="grade-legend">SS: Sobre el Estándar | S: Estándar | NS: No Estándar | NE: No Evaluado</p>
                <p class="data-box">Sesión pre-solo: {{ evaluation.pre_solo_flight }}</p>
                <p class="data-box">Calificación: {{ evaluation.session_grade }}</p>
            </section>

            <!-- Comments section -->
            <section class="comments-container">
                <h2 class="comments-title">Comentarios del instructor</h2>
                <div class="comments-text">
                    {{ evaluation.comments|linebreaks }}
                </div>
            </section>
        {% endif %}
    </body>
</html>