{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>NAV | Planilla de evaluación</title>
        <link href="{% static 'pdf.css' %}" rel="stylesheet"> 
    </head>

    <body>
        <section class="main-container">

            <!-- Logo and form title -->
            <section class="header-container">
                <img class="logo" src="{% static 'img/evaluation_logo.png' %}" alt="NAV Logo">
                <h1 class="title">Planilla de evaluación</h1>
                <h1 class="title">0-100 horas</h1>
            </section>

            <!-- Data table -->
            <section class="data-container">
                <div class="row" id="row-1">
                    <div class="data-cell" id="data-cell-1">Nombre y Apellido AP/Piloto:</div>
                    <div class="data-cell" id="data-cell-2">Cédula:</div>
                    <div class="data-cell" id="data-cell-3">Tipo y N° de licencia:</div>
                </div>
                <div class="row" id="row-2">
                    <div class="data-cell" id="data-cell-4">Nombre y Apellido Instructor:</div>
                    <div class="data-cell" id="data-cell-5">Cédula:</div>
                    <div class="data-cell" id="data-cell-6">Tipo y N° de licencia:</div>
                </div>
                <div class="row" id="row-3">
                    <div class="data-cell" id="data-cell-7">Reglas de vuelo:</div>
                    <div class="data-cell" id="data-cell-8">Curso:</div>
                    <div class="data-cell" id="data-cell-9">Horas acumuladas:</div>
                </div>
                <div class="row" id="row-4">
                    <div class="data-cell" id="data-cell-10">Matrícula de aeronave:</div>
                    <div class="data-cell" id="data-cell-11">Sesión:</div>
                    <div class="data-cell" id="data-cell-12">Horas sesión:</div>
                </div>
                <div class="row" id="row-4">
                    <div class="data-cell" id="data-cell-13"></div>
                    <div class="data-cell" id="data-cell-14">Horas totales:</div>
                </div>
            </section>

            <!-- Grades legend -->
            <section class="grade-container">
                <p id="grade-legend">SS: Sobre el Estándar | S: Estándar | NS: No Estándar | NE: No Evaluado</p>
                <p class="data-box">Vuelo solo: N</p>
                <p class="data-box">Calificación: S</p>
            </section>

            <!-- Grades table -->
            <section class="grades-table-container">
                <div class="grades-table-column">
                    <table border="1" class="grades-table">
                        <tbody>
                            <!-- Prevuelo/encendido/taxeo -->
                            <tr>
                                <td class="grades-table-cell table-section">Prevuelo/encendido/taxeo</td>
                                <td class="grades-table-cell grade table-section">Nota</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Plan de vuelo VFR</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Inspección prevuelo (lista de chequeo)</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Uso correcto lista de verificación</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Comunicaciones aeronáuticas</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Técnica de rodaje</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Anormalidades en el encendido y taxeo</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <!-- Despegue / Salida visual -->
                            <tr>
                                <td class="grades-table-cell table-section">Despegue / Salida visual</td>
                                <td class="grades-table-cell grade table-section">Nota</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Normal/estático/rolling</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Viento cruzado</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Pista corta y/o campo blando</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Ascenso (potencia/velocidad/rumbo)</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Comunicaciones aeronáuticas</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Ejecución de salida visual</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <!-- Maniobras básicas/avanzadas -->
                            <tr>
                                <td class="grades-table-cell table-section">Maniobras básicas/avanzadas</td>
                                <td class="grades-table-cell grade table-section">Nota</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Uso de compensadores</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Técnica de nivelado (control/comportamiento)</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Vuelo recto nivelado</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Virajes de 10°, 20°, 30° y 45°</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Virajes ascenso/descenso</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Vuelo lento</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Pérdida limpia</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Pérdida configuración despegue y aterrizaje</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Pérdida secundaria</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Efecto del P-Factor</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Chandelles</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">8 perezosos</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">S sobre pilones</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">S sobre carreteras</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Descenso c/s potencia (glide speed)</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Ubicación espacial</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Reconocimiento de actitudes inusuales (UPSET)</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Precisión de 090°, 180°, 360° y 270°</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <!-- Emergencias -->
                            <tr>
                                <td class="grades-table-cell table-section">Emergencias</td>
                                <td class="grades-table-cell grade table-section">Nota</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Actitud y juicio</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Identificación de la anormalidad</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Procedimientos memory-items y anormales</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="grades-table-column">
                    <table border="1" class="grades-table">
                        <tbody>
                            <tr>
                                <td class="grades-table-cell table-section">Emergencias (cont.)</td>
                                <td class="grades-table-cell grade table-section">Nota</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Control de la aeronave</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Navegación (plan alterno en ruta)</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Comunicaciones</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <!-- Navegación VFR -->
                            <tr>
                                <td class="grades-table-cell table-section">Navegación VFR</td>
                                <td class="grades-table-cell grade table-section">Nota</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Briefing de prevuelo</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Planificación/tablas de performance</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Plan de vuelo operacional (TOC/TOD)</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Comunicaciones en ruta (reportes)</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Orientación espacial</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Uso de radioayudas</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <!-- Circuito/procedimiento -->
                            <tr>
                                <td class="grades-table-cell table-section">Circuito/procedimiento</td>
                                <td class="grades-table-cell grade table-section">Nota</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Comunicación</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Procedimiento de circuito</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Maniobra de derrape (demostración)</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Configuración de aterrizaje (limpio/full flaps)</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Aproximación estabilizada</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Aterrizaje normal</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Aterrizaje corto/campo suave</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Toque y despegue</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Go-around</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Situaciones anormales en el circuito</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <!-- Evaluación general -->
                            <tr>
                                <td class="grades-table-cell table-section">Evaluación general</td>
                                <td class="grades-table-cell grade table-section">Nota</td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Actitud y criterio</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Seguridad de vuelo</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Disciplina de vuelo</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Técnica de vuelo</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Conocimiento de la aeronave y limitaciones</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Conocimiento RAV</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                            <tr>
                                <td class="grades-table-cell">Juicio general</td>
                                <td class="grades-table-cell grade"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="notes-container">
                        <p class="notes-title">Notas del instructor</p>
                        <p class="notes-text">Las notas van aquí.</p>
                    </div>
                </div>
            </section>

            <!-- Footer -->
            <section class="footer-container">
                <p class="signature">Firma Piloto/AP: ____________________</p>
                <p class="signature">Firma Instructor: ____________________</p>
            </section>

        </section>

    </body>
</html>