{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NAV | SMS</title>
    <link href="{% static 'main_sms.css' %}" rel="stylesheet" />
  </head>

  <body>
    <div class="main-container">
      <div class="data-container">
        <div class="data-header">
          <h1>Sistema SMS</h1>
        </div>
        <div class="user-data">
          <p>Nombres: {{ user.first_name }}</p>
          <p>Apellidos: {{ user.last_name }}</p>
          <p>Usuario: {{ user.username }}</p>
          <p>ID: {{ user.national_id }}</p>
          <p>Email: {{ user.email }}</p>
          <p>Cargo: {{ user.staff_profile.position }}</p>
        </div>
        <div class="buttons">
          <div class="button-container">
            <a href="{% url 'dashboard:dashboard' %}">
              <button class='button' id="dashboard" type="submit">Atrás</button>
            </a>
          </div>
          <div class="button-container">
            <a href="{% url 'accounts:login' %}">
              <button class='button' id="logout" type="submit">Cerrar sesión</button>
            </a>
          </div>
        </div>
      </div>
      <div class="dashboard-container">
          <div class="left-column">
            <div class="dashboard-square">
              <h1 class="square-header">Reporte SMS</h1>
                <a class="image-link" href="{% url 'sms:voluntary_report' %}">
                  <img class="logo-img" src="{% static 'img/shield.png' %}" alt="Reporte SMS">
                </a>
            </div>
            <div class="dashboard-square">
              <h1 class="square-header">Chat SARA</h1>
                <a class="image-link" href="">
                  <img class="logo-img" src="" alt="">
                </a>
            </div>
          </div>
          <div class="right-column">
            <div class="dashboard-square">
              <h1 class="square-header">Ver reportes</h1>
                <a class="image-link" href="">
                  <img class="logo-img" src="" alt="">
                </a>
            </div>
            <div class="dashboard-square">
              <h1 class="square-header">Performance</h1>
                <a class="image-link" href="">
                  <img class="logo-img" src="" alt="">
                </a>
            </div>
          </div>
      </div>
    </div>
  </body>
</html>