{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NAV | SARA</title>
    <link href="{% static 'main_sms.css' %}" rel="stylesheet" />
    <link href="{% static 'shared_components.css' %}" rel="stylesheet" />
    <script src="{% static 'js/main_sms_dynamics.js' %}"></script>
  </head>

  <body>
    <div class="back-button">
        <a href="{% url 'dashboard:dashboard' %}" class="button">&larr; Volver</a>
    </div>

    <div class="main-container">
      <div class="data-container">
      </div>
      <div class="dashboard-container">
          <div class="left-column">
            <div class="dashboard-square">
              <h1 class="square-header">Agregar RPV</h1>
                <a class="image-link" href="{% url 'sms:voluntary_hazard_report' %}">
                  <img 
                    class="logo-img" 
                    src="{% static 'img/addReport.png' %}" 
                    alt="RPV" 
                    title="Agregar reporte SMS.">
                </a>
            </div>
            <div class="dashboard-square">
              <h1 class="square-header">Chat SARA</h1>
              {% if request.user.is_authenticated and can_manage_sms %}
                <a class="image-link" href="">
                  <img 
                    class="logo-img" 
                    src="{% static 'img/chatSMS.png' %}" 
                    alt="Chat SMS" 
                    title="Chat SARA.">
                </a>
              {% else %}
                <div class="image-link disabled">
                  <img 
                    class="logo-img" 
                    src="{% static 'img/chatSMS.png' %}" 
                    alt="Chat SMS" 
                    title="No tiene permisos para acceder.">
                </div>
              {% endif %}
            </div>
          </div>
          <div class="right-column">
            <div class="dashboard-square">
              <h1 class="square-header">Ver reportes</h1>
              {% if request.user.is_authenticated and can_manage_sms %}
                <a class="image-link" href="">
                  <img
                   class="logo-img" 
                   src="{% static 'img/viewReport.png' %}" 
                   alt="Ver reportes SMS" 
                   title="Ver reportes SMS.">
                </a>
              {% else %}
                <div class="image-link disabled">
                  <img
                    class="logo-img" 
                    src="{% static 'img/viewReport.png' %}" 
                    alt="Ver reportes SMS" 
                    title="No tiene permisos para acceder.">
                </div>
              {% endif %}
            </div>
            <div class="dashboard-square">
              <h1 class="square-header">Performance</h1>
              {% if request.user.is_authenticated and can_manage_sms %}
                <a class="image-link" href="">
                  <img 
                    class="logo-img" 
                    src="{% static 'img/performanceSMS.png' %}" 
                    alt="Performance" 
                    title="Performance SMS.">
                </a>
              {% else %}
                <div class="image-link disabled">
                  <img 
                    class="logo-img" 
                    src="{% static 'img/performanceSMS.png' %}" 
                    alt="Performance" 
                    title="No tiene permisos para acceder.">
                </div>
              {% endif %}
            </div>
          </div>
      </div>
    </div>
  </body>
</html>